strong, b { font-weight: 500; }

.wraper-page-inner { padding-top: 3.4285rem; padding-bottom: 1rem; }

.slide_toggle { text-align: left; color: #ACACAC; cursor: pointer; }

.slide_toggle .panel_title { padding: .5rem 0.7143rem; }

.slide_toggle .panel_title span { background-image: url("../images/icon_arrow_down.svg"); background-size: 0.7143rem 0.7143rem; width: 0.7143rem; height: 0.7143rem; position: relative; background-position: 0px 0; background-repeat: no-repeat; background-size: 100%; top: .7rem; -webkit-transition: all .2s; -o-transition: all .2s; transition: all .2s; margin-top: -0.2rem; float: right; }

.slide_toggle .panel { display: none; border-top: 1px solid #DDE2E6; }

.slide_toggle.active { color: #52ACD3; }

.slide_toggle.active .panel_title span { background-image: url("../images/icon_arrow_up.svg"); }

i.icon { display: inline-block; width: 1.5rem; height: 1.5rem; background-repeat: no-repeat; }

i.icon.i_wallet { background-image: url("../images/icon_wallet.svg"); width: 1.4285rem; height: 1.4285rem; background-size: 100%; margin-right: 5px; }

i.icon.i_coin { background-image: url("../images/icon_coin.svg"); background-size: 100%; width: 2.286rem; height: 2.286rem; vertical-align: top; margin-top: 0.2rem; }

i.icon.i_trace { background-image: url("../images/icon_trace.svg"); background-size: 100%; width: 2.286rem; height: 2.286rem; vertical-align: top; margin-top: 0.2rem; }

.lbtn { padding: .5rem 1rem; text-align: center; color: #fff; -webkit-border-radius: 5rem; -moz-border-radius: 5rem; -ms-border-radius: 5rem; border-radius: 5rem; position: relative; display: inline-block; background: url(../images/btn_bg.svg) no-repeat center center #52acd3; }

.lbtn.lbtn_info { background-color: #52ACD3; }

.lbtn.lbtn_sm { padding: .3rem 2rem; }

.lbtn.lbtn_md { padding: .5rem 3rem; }

[type="radio"]:checked, [type="radio"]:not(:checked) { position: absolute; left: -9999px; }

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label { position: relative; padding-left: 28px; cursor: pointer; line-height: 20px; display: inline-block; color: #666; }

[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 0; width: 18px; height: 18px; border: 1px solid #ddd; border-radius: 100%; background: #fff; }

[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after { content: ''; width: 12px; height: 12px; background: #52ACD3; position: absolute; top: 4px; left: 4px; border-radius: 100%; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

[type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

label { display: inline-block; color: #484848; cursor: pointer; position: relative; }

label span { display: inline-block; position: relative; background-color: transparent; width: 1.2rem; height: 1.2rem; -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; border: 1px solid #E2E2E2; background-color: #fff; -webkit-border-radius: 0.1rem; -moz-border-radius: 0.1rem; -ms-border-radius: 0.1rem; border-radius: 0.1rem; vertical-align: -.3rem; margin-right: .8rem; }

input[type="checkbox"] { display: none; }

input[type="checkbox"]:checked + label span { border-color: #52ACD3; background: url("../images/icon_check_w.svg") no-repeat center center #52ACD3; }

.play_area { margin: 0 .5rem; color: #898989; font-size: 1rem; }

.play_area .play_top > div { margin-bottom: 1rem; background-color: #fff; padding: .5rem; border: 1px solid #DDE2E6; }

.play_area .play_top > div strong { color: #52ACD3; display: block; font-size: 1rem; font-weight: 500; }

.play_area .play_top > div p { font-size: 0.8571rem; padding: .5rem 0; margin: 0 .5rem; }

.play_area .play_top > div p:first-child { border-bottom: 1px solid #DDE2E6; }

.play_area .play_content { border-top: 1px dashed #DDE2E6; margin-top: 1.5rem; }

.play_area .play_content .slide_toggle { margin: 0 0 0.5714rem 0; background-color: #fff; border: 1px solid #DDE2E6; }

.play_area .play_content .slide_toggle dl { margin: 0 1rem; padding: .5rem 1rem; color: #898989; font-size: 0.8571rem; border-bottom: 1px solid #DDE2E6; }

.play_area .play_content .slide_toggle dl:last-child { border-bottom: none; }

.play_area .play_content .slide_toggle dl > * { display: inline-block; }

.play_area .play_content .slide_toggle dl > *:nth-child(odd) { vertical-align: top; min-width: 4rem; }

.play_area .play_content .slide_toggle dl > *:nth-child(even) { width: calc(100% - 5rem); text-align: justify; }

.play_area .play_content .slide_toggle dl dt { color: #52ACD3; position: relative; }

.play_area .play_content .slide_toggle dl dt:before { content: ''; display: block; background-image: url("../images/icon_liststyle.svg"); width: 6px; height: 6px; position: absolute; left: -1rem; top: .6rem; }

.play_area h3 { color: #484848; font-size: 1.071rem; padding: 1rem 0 .5rem; }

.layui-m-layerchild { width: 70%; border-radius: 10px; padding: 2rem 1rem 1.286rem 1rem; }

.layui-m-layerchild h3 { font-size: 1.071rem; line-height: 2rem; height: auto; margin-bottom: 0.3rem; }

.layui-m-layerchild.layer_tip:before, .layui-m-layerchild.layer_check:before, .layui-m-layerchild.layer_count:before { content: ''; display: block; background-repeat: no-repeat; background-position: center center; background-size: 3rem 3rem; width: 4rem; height: 4rem; position: absolute; top: -2rem; left: 50%; margin-left: -2rem; background-color: #fff; border-radius: 50%; }

.layui-m-layerchild.layer_tip:before { background-image: url("../../images/icon_tip_d.svg"); }

.layui-m-layerchild.layer_tip h3 { color: #FCB008; }

.layui-m-layerchild.layer_check:before { background-image: url("../../images/icon_check.svg"); }

.layui-m-layerchild.layer_check h3 { color: #71C341; }

.layui-m-layerchild.layer_count:before { background-image: url("../../images/icon_count.svg"); }

.layui-m-layerchild.layer_count h3 { color: #52ACD3; }

.layui-m-layer0 .layui-m-layerchild { width: 70%; }

.layui-m-layermain .layui-m-layersection .layui-m-layerchild { width: 75% !important; }

.layui-m-layer1 .layui-m-layercont { text-align: center; }

.layui-m-layercont { color: #484848; padding: 0; line-height: 1.286rem; font-size: 0.8571rem; width: auto; }

.layui-m-layercont span { display: inline-block; padding: 0 0.2rem; }

.layui-m-layercont .radio { display: inline-block; margin: 0px auto; }

.layui-m-layercont .radio p { text-align: left; margin: 0.5rem 0; }

.layui-m-layerbtn { background-color: #fff; height: 2rem; line-height: 1.8rem; border-top: 0; margin-top: 1rem; border-radius: 0 0 10px 10px; font-size: 0.8571rem; text-align: center; width: auto; }

.layui-m-layerbtn span { border-radius: 60px; color: #000; margin: auto 0.5714rem; }

.layui-m-layerbtn span[no] { border-radius: 60px; border-right: none; border: 1px solid #EFEFEF; background-color: #fff; font-size: 0.8571rem; }

.layui-m-layerbtn span[yes] { background-color: #52ACD3; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 0px 1px #EFEFEF; box-shadow: 0px 0px 0px 1px #EFEFEF; font-size: 0.8571rem; background: url(../images/btn_bg.svg) no-repeat center center #52acd3; }

.floatarea { border-top: none; border-bottom: none; font-size: 0.8571rem; }

.periods { color: #FCB008; }

body .layui-m-layer .layui-m-layer-msg { background-color: rgba(52, 65, 70, 0.8); border-radius: 1.5rem; bottom: auto; padding: 0px; }

body .layui-m-layer .layui-m-layer-msg .layui-m-layercont { padding: 0.5rem; padding-right: 1rem; }

.timeout { color: #fff; font-size: 0.875rem; position: relative; padding-left: 2.5rem; text-align: left; line-height: 2rem; background: url(../images/icon_tip_d.svg) no-repeat top left; background-size: 2rem 2rem; }

.timeout span { color: #FCB008; }

.totleNum { color: #484848; font-weight: 500; font-size: 0.8571rem; padding: 0 2rem 1.15rem; margin-left: 0; }

.totleNum .numlabel { font-size: inherit; color: inherit; }

.totleNum span:nth-child(2) { color: #FCB008; padding: 0 0.3rem 0 0.5rem; }

.floatarea { padding: 0 2rem; margin: 0; color: #484848; text-align: center; }

.floatarea p b { font-weight: normal; word-break: break-all; width: 80%; display: inline-block; margin: 0 auto; vertical-align: top; }

.floatarea .totle span { display: inline-block; }

.floatarea .totle span:first-child { text-align: left; }

.floatarea .totle span:last-child { padding: 0 0.3rem 0 0.5rem; }

.betting_area { line-height: 1.8; }

.betting_area > div:first-child { background-image: url("../images/left_bg@2x.png"); background-color: #52ACD3; background-size: 100%; width: 100%; height: 8rem; text-align: center; padding: 1.5rem 0; color: #fff; }

.betting_area > div:first-child > div { display: inline-block; vertical-align: -webkit-baseline-middle; vertical-align: -moz-baseline-middle; text-align: left; }

.betting_area > div:first-child .info_data { margin-left: 1rem; }

.betting_area > div:first-child img { width: 5rem; height: 5rem; }

.betting_area > div:first-child h2 { font-size: 1rem; }

.betting_area > div:first-child i { vertical-align: middle; margin-top: 0.1rem; }

.betting_area > div:first-child span { font-size: 1.143rem; vertical-align: top; }

.tab { font-size: 0; }

.tab .item { display: inline-block; text-align: left; width: 50%; margin: 0 auto; background-color: #fff; font-size: 1rem; }

.tab .item:first-child { border-right: 1px solid #F1F1F1; }

.tab .item a { color: #808080; display: block; padding: 1rem 0.5rem 0.7rem; text-align: center; }

@media (max-width: 359px) { .tab .item a { padding: 1rem .5rem; } }

.tab .item a > * { display: inline-block; }

.tab .item a p { text-align: left; line-height: 1.429rem; }

.tab .item a small { color: #ACACAC; display: block; font-size: 0.7143rem; line-height: 1rem; }

.tab .item a span { font-size: 1.071rem; }

.tab .item.active, .tab .item:hover, .tab .item:focus { -webkit-transform: none; -ms-transform: none; transform: none; }

.tab .item.active a, .tab .item:hover a, .tab .item:focus a { color: #52ACD3; }

.tab .item.active a .i_coin, .tab .item:hover a .i_coin, .tab .item:focus a .i_coin { background-image: url("../images/icon_coin_b.svg"); }

.tab .item.active a .i_trace, .tab .item:hover a .i_trace, .tab .item:focus a .i_trace { background-image: url("../images/icon_trace_b.svg"); }

.tab_mid { margin: .8rem 0; color: #898989; background-color: #fff; }

.tab_mid li { display: inline-block; width: 25% !important; text-align: center; vertical-align: middle; border-bottom: 2px solid #fff; }

.tab_mid li a { display: block; color: #898989; font-size: 0.8571rem; height: 2.286rem; line-height: 2.286rem; }

.tab_mid li.on { -webkit-transform: none; -ms-transform: none; transform: none; border-bottom: 2px solid #52ACD3; }

.tab_mid li.on a { color: #52ACD3; }

.tab_content { padding: 0 0.5rem; }

.bet_day, .trace_day { border: 1px solid #DDE2E6; border-bottom: none; background-color: #fff; }

.bet_day:last-child, .trace_day:last-child { border-bottom: 1px solid #DDE2E6; }

.bet_day .date, .trace_day .date { font-size: 1rem; }

.bet_data { border-bottom: 1px solid #DDE2E6; }

.bet_data:last-child { border-bottom: none; }

.bet_data > a { display: block; padding: .786rem; }

.bet_data > a:after { content: ''; display: table; clear: both; }

.bet_data > a > * { float: left; line-height: 1.429rem; color: #898989; }

.bet_data strong { color: #52ACD3; font-size: 1rem; }

.bet_data .status { float: right; min-width: 15%; text-align: center; color: #ACACAC; margin-top: 0.3571rem; }

.bet_data .status02 { color: #71C341; }

.bet_data .status03 { color: #ACACAC; padding-top: 2rem; position: relative; margin-top: 0; }

.bet_data .status03:before { content: ''; display: block; background-image: url("../images/icon_notwin.svg"); background-position: center; background-repeat: no-repeat; background-size: 100%; position: absolute; width: 1.429rem; height: 1.429rem; top: .3rem; left: 50%; margin-left: -0.7143rem; }

.bet_data .status04 { color: #E03A5D; padding-top: 2rem; position: relative; margin-top: 0; }

.bet_data .status04:before { content: ''; display: block; background-image: url("../images/icon_exclam.svg"); background-position: center; background-repeat: no-repeat; background-size: 100%; position: absolute; width: 1.429rem; height: 1.429rem; top: .3rem; left: 50%; margin-left: -0.7143rem; }

.badge { background-color: #52ACD3; width: 3.5rem; height: 3.5rem; border-radius: 100px; padding: .5rem; margin-right: 0.5714rem; border: 3px solid #52ACD3; }

.badge.ssc_badge { background-image: url("../images/lottery/logo_cqssc.svg"); background-position: center; background-repeat: no-repeat; background-size: 100%; }

.lottery_t { margin-right: 1rem; margin-top: 0.3571rem; }

.trace_day .bet_data .status { text-align: center; margin-top: 0.3571rem; }

.trace_day .bet_data .status01 { color: #D3D3D3; }

.trace_day .bet_data .status01 div { color: #fff; }

.trace_day .bet_data .status02 { color: #52ACD3; }

.trace_day .bet_data .status02 div { color: #FCB008; }

.trace_day .bet_data .status03 { padding-top: 0; color: #D3D3D3; }

.trace_day .bet_data .status03:before { display: none; }

.trace_day .bet_data .status03 div { color: #FCB008; }

/* Slider */
.bet_dt_area { font-size: 1rem; margin: 1.5rem 1.286rem; }

.bet_dt_area .period { margin: 1.5rem 0; line-height: 1.5rem; height: 1.5rem; }

.bet_dt_area .period:after { display: block; clear: both; content: ""; }

.bet_dt_area .period > * { line-height: 1.5rem; height: 1.5rem; padding: .1rem; }

.bet_dt_area .period span:first-child { float: left; }

.bet_dt_area .period .bet_status { float: right; -webkit-border-radius: 0.3571rem; -moz-border-radius: 0.3571rem; -ms-border-radius: 0.3571rem; border-radius: 0.3571rem; padding: 0 .3rem; display: block; font-size: 0.8571rem; line-height: 1.143rem; height: 1.286rem; }

.bet_dt_area .period .bet_status.status_gray { border: 1px solid #E2E2E2; color: #ACACAC; }

.bet_dt_area .period .bet_status.status_red { border: 1px solid #E03A5D; color: #E03A5D; }

.bet_dt_area .period .bet_status.status_green { border: 1px solid #71C341; color: #71C341; }

.bet_nlist { margin: 1rem 0; }

.bet_nlist ul { text-align: center; }

.bet_nlist ul li { margin: 0 0.49rem 0.5rem; display: inline-block; width: 2.8rem; height: 2.8rem; line-height: 2.8rem; background-color: #fff; font-size: 1.5rem; text-align: center; border: 1px solid rgba(239, 239, 239, 0.46); -webkit-box-shadow: 0px 0px 0px 1px #fff; box-shadow: 0px 0px 0px 1px #fff; border-radius: 1.4rem; color: #b8b8b8; font-family: sans-serif; font-weight: 500; }

.bet_nlist ul li.hover { background: url(../images/lottery/ball_active.svg) no-repeat center; color: #666; background-size: 100%; font-size: 1.071rem; }

.print_data { -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; -ms-border-radius: 0.3rem; border-radius: 0.3rem; background-color: #fff; border: 1px solid #E2E2E2; padding: 0.3571rem 1rem; }

.print_data ul { width: 100%; }

.print_data li { border-bottom: 1px solid #F6F6F6; padding: 0.8571rem 0; display: block; word-wrap: break-word; word-break: break-all; }

.print_data li span { display: inline-block; }

.print_data li span:first-child { color: #898989; padding: 0 0.5714rem; width: 30%; }

.print_data li:last-child { border: none; }

.print_data small { color: #ACACAC; }

.goto_bet { text-align: center; margin: 1.429rem 0; }

.tra_dt_area { color: #484848; font-size: 1rem; margin: 1.5rem 1.286rem; }

.tra_dt_area .tra_period { margin: 1rem 0; }

.tra_dt_area .tra_period > * { display: inline-block; vertical-align: top; line-height: 1.5rem; }

.tra_dt_area .tra_period .lottery_t .tra_info { color: #898989; }

.tra_dt_area .tra_period .lottery_t .tra_info > span { margin-right: .5rem; }

.tra_dt_area .tra_period .lottery_t b { color: #FCB008; margin: 0 .2rem; }

.tra_dt_area .tra_period .tr_status { float: right; -webkit-border-radius: 0.3571rem; -moz-border-radius: 0.3571rem; -ms-border-radius: 0.3571rem; border-radius: 0.3571rem; padding: 0 .3rem; display: block; font-size: 0.8571rem; line-height: 1.143rem; height: 1.286rem; margin-top: 0.3571rem; }

.tra_dt_area .tra_period .tr_status.status01 { border: 1px solid #E2E2E2; color: #ACACAC; }

.tra_dt_area .tra_period .tr_status.status02, .tra_dt_area .tra_period .tr_status.status03 { border: 1px solid #E03A5D; color: #E03A5D; }

.tra_list li { background-color: #fff; margin: .5rem 0; padding: 1rem; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; -ms-border-radius: 0.3rem; border-radius: 0.3rem; border: 1px solid #E2E2E2; }

.tra_list li:hover, .tra_list li:focus { border-color: #52ACD3; -webkit-transition: border-color .3s ease-in; -o-transition: border-color .3s ease-in; transition: border-color .3s ease-in; }

.tra_list a { color: #898989; display: block; }

.tra_list div { display: inline-block; vertical-align: top; }

.tra_list div.tra_info { padding: 0 0.5714rem; }

.tra_list div:last-child { float: right; }

.tra_list .t_l_sta01 { color: #D3D3D3; }

.tra_list .t_l_sta02 { color: #52ACD3; }

.tra_list .t_l_sta03 { color: #D3D3D3; }

.cancel_area { padding: .5rem 0 .5rem 1rem; }

.cancel_area:after { content: ''; display: block; clear: both; }

.cancel_area > div:first-child { float: left; margin-top: 0.3rem; }

.cancel_area > div:last-child { float: right; }

.cancel_area label span { vertical-align: text-top; }

/*# sourceMappingURL=page.css.map */