@import "var";
strong,b{
    font-weight: 500;
}
// 暫時的header
header.inner{
    text-align: left;
    padding: 1rem 0;
    font-size: 1rem;
    background-color: $l_blue;
    color: #fff;
    line-height: 2rem;
    height: 4rem;
    border-bottom: 1px solid #ccc;
     //暫時做效果 fixme
     position: fixed;
     width: 100%;
     left: 0;
     top: 0;
    >*{
        display: inline-block;
        vertical-align: middle;
    }
    div{
        width: calc(100% - 8.3rem);
        text-align: center;
        vertical-align: top;
        line-height: 2rem;
        height: 2rem;
    }
    a{
        color: #fff;
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        &.btn_back{
            background-image: url('../images/btn_back.svg');
            padding-left: 2rem;
            margin-left: 1rem;
            width: 2rem;
        }
        &.right{
            margin-right: 1rem;
            width: 4rem;
        }
    }
}
.wraper-page-inner{
    padding-top: 4rem;
}
//  展開收合效果
.slide_toggle {
    text-align: left;
    cursor: pointer;
    > div{
        color: #ACACAC;
        &:first-child{
            padding: .3rem 1rem;
        }
        span{
            background-image: url('../images/icon_arrow_down.svg');
            // display: inline-block;
            width: 10px;
            height: 10px;
            position: relative;
            background-position: 0px 0;
            background-repeat: no-repeat;
            background-size: 100%;
            // left:1.2rem;
            top: .7rem;
            transition: all .2s;
            margin-right: .5rem;
            float: right;
        }
        &.cur{
            color: $l_blue;
            span{
                background-image: url('../images/icon_arrow_up.svg');
            }
        }
    }
}
.panel {
    display: none;
    border-top:1px solid $l_gray;
}
// icon集散地
i.icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    &.i_wallet{
        background-image: url('../images/icon_wallet.svg');
        width: 2rem;
        height: 2rem;
        background-size: 100%;
        margin-right: .5rem;
    }
    &.i_coin{
        background-image: url('../images/icon_coin.svg');
        background-size: 100%;
        width: 2.7rem;
        height: 2.8rem;
        vertical-align: bottom;
    }
    &.i_trace{
        background-image: url('../images/icon_trace.svg');
        background-size: 100%;
        width: 2.3rem;
        height: 2.5rem;
        background-position-y: .8rem;
    }
}
// 按鈕集散地
.lbtn{
    padding: .5rem 1rem;
    text-align: center;
    color: #fff;
    @include border-radius(5rem);
    position: relative;
    display: inline-block;
    &:before{
        content: '';
        display: block;
        position: absolute;
        background-image: url("../../images/lottery/btn_light@2x.png");
        background-size: 100% 100%;
        width: 60%;
        height: 100%;
        max-height: 137px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    &.lbtn_info{
        background-color: $l_blue;
    }
    &.lbtn_md{
        padding: .6rem 3rem;
    }
}