@import "var";
strong,b{
    font-weight: 500;
}
// 暫時的header
// header.inner{
//     text-align: left;
//     padding: 1rem 0;
//     font-size: 1rem;
//     background-color: $l_blue;
//     color: #fff;
//     line-height: 2rem;
//     height: 4rem;
//     border-bottom: 1px solid #ccc;
//      //暫時做效果 fixme
//      position: fixed;
//      width: 100%;
//      left: 0;
//      top: 0;
//      z-index: 1;
//     >*{
//         display: inline-block;
//         vertical-align: middle;
//     }
//     div{
//         width: calc(100% - 8.3rem);
//         text-align: center;
//         vertical-align: top;
//         line-height: 2rem;
//         height: 2rem;
//     }
//     a{
//         color: #fff;
//         line-height: 2rem;
//         width: 2rem;
//         height: 2rem;
//         text-align: center;
//         &.btn_back{
//             background-image: url('../images/btn_back.svg');
//             padding-left: 2rem;
//             margin-left: 1rem;
//             width: 2rem;
//         }
//         &.right{
//             margin-right: 1rem;
//             width: 4rem;
//         }
//     }
// }
.wraper-page-inner{
    padding-top: 3.4285rem;
    padding-bottom: 1rem;
}
//  展開收合效果
.slide_toggle {
    text-align: left;
    color: #ACACAC;
    cursor: pointer;
    .panel_title{
        padding: .5rem 0.7143rem;
        span{
            background-image: url('../images/icon_arrow_down.svg');
            background-size:0.7143rem 0.7143rem;
            // display: inline-block;
            width: 0.7143rem;
            height: 0.7143rem;
            position: relative;
            background-position: 0px 0;
            background-repeat: no-repeat;
            background-size: 100%;
            // left:1.2rem;
            top: .7rem;
            transition: all .2s;
            margin-top: -0.2rem;
            float: right;
        }
    }
    .panel {
        display: none;
        border-top:1px solid $l_gray;
    }
    &.active{
        color: $l_blue;
        .panel_title span{
            background-image: url('../images/icon_arrow_up.svg');
        }
    }
}
// icon集散地
i.icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    &.i_wallet{
        background-image: url('../images/icon_wallet.svg');
        width: 1.4285rem;
        height: 1.4285rem;
        background-size: 100%;
        margin-right: 5px;
    }
    &.i_coin{
        background-image: url('../images/icon_coin.svg');
        background-size: 100%;
        width: 2.286rem;
        height: 2.286rem;
        vertical-align: top;
        margin-top: 0.2rem;
    }
    &.i_trace{
        background-image: url('../images/icon_trace.svg');
        background-size: 100%;
        width: 2.286rem;
        height: 2.286rem;
        vertical-align: top;
        margin-top: 0.2rem;
        // background-position-y: .8rem;
    }
}
// 按鈕集散地
.lbtn{
    padding: .5rem 1rem;
    text-align: center;
    color: #fff;
    @include border-radius(5rem);
    position: relative;
    display: inline-block;
    background: url(../images/btn_bg.svg) no-repeat center center #52acd3;
    // &:before{
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     background-image: url("../../images/lottery/btn_light@2x.png");
    //     background-size: 100% 100%;
    //     width: 60%;
    //     height: 100%;
    //     max-height: 137px;
    //     top: 0;
    //     left: 0;
    //     overflow: hidden;
    // }
    &.lbtn_info{
        background-color: $l_blue;
    }
    &.lbtn_sm{
        padding: .3rem 2rem;
    }
    &.lbtn_md{
        padding: .5rem 3rem;
    }
}
// radio樣式
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $l_blue;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// checkbox

label {
    display: inline-block; // to make it easier to click
    color: #484848;
    cursor: pointer;
    position: relative; // important
    // Now we'll create the checkbox object
    span {
        display: inline-block;
        position: relative;
        background-color: transparent;
        width: 1.2rem;
        height: 1.2rem;
        transform-origin: center;
        border: 1px solid #E2E2E2;
        background-color: #fff;
        @include border-radius(.1rem);
        vertical-align: -.3rem;
        margin-right: .8rem;
        // transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); // custom ease effect for bouncy animation
        // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"
        &:before {
            content: "";
            width: 0px;
            height: .1rem;
            border-radius: 2px; // so that the tick has nice rounded look
            background: #fff;
            position: absolute;
            transform: rotate(45deg);
            top: .5rem;
            left: .2rem;
            transition: width 50ms ease 50ms;
            transform-origin: 0% 0%;
        }
        &:after {
            content: "";
            width: 0;
            height: .1rem;
            border-radius: 2px; // so that the tick has nice rounded look
            background: #fff;
            position: absolute;
            transform: rotate(305deg);
            top: .7rem;
            left: .35rem;
            transition: width 50ms ease;
            transform-origin: 0% 0%;
        }
    }
    // Time to add some life to it
    &:hover {
        span {
            &:before {
                width: .3rem;
                transition: width 100ms ease;
            }
            &:after {
                width: .7rem;
                transition: width 150ms ease 100ms;
            }
        }
    }
}

input[type="checkbox"] {
    display: none; // hide the system checkbox
// Let's add some effects after the checkbox is checked
    &:checked {
        + label {
            span {
                    background-color: $l_blue;
                    // transform: scale(1.25); // enlarge the box
                    border: 2px solid $l_blue;
                &:after {
                    width: .7rem;
                    background: #fff;
                    transition: width 150ms ease 100ms; // enlarge the tick
                }
                &:before {
                    width: .3rem;
                    background: #fff;
                    transition: width 150ms ease 100ms; // enlarge the tick
                }
            }
            &:hover { // copy the states for onMouseOver to avoid flickering
                span {
                    background-color: $l_blue;
                    // transform: scale(1.25); // enlarge the box
                    border: 2px solid $l_blue;
                    &:after {
                        width: .7rem;
                        background: #fff;
                        transition: width 150ms ease 100ms; // enlarge the tick
                    }
                    &:before {
                        width: .3rem;
                        background: #fff;
                        transition: width 150ms ease 100ms; // enlarge the tick
                    }
                }
            }
        }
    }
}