// 變數
$l_gray:#DDE2E6;
$l_blue:#52ACD3;
// 暫時的header
header{
    text-align: left;
    padding: 1rem 0;
    font-size: 1rem;
    background-color: $l_blue;
    color: #fff;
    line-height: 2rem;
    height: 4rem;
    >*{
        display: inline-block;
    }
    div{
        width: calc(100% - 5rem);
        text-align: center;
        vertical-align: top;
    }
    a{
        padding-left: 2rem;
        margin-left: 1rem;
        &.btn_back{
            background-image: url('../images/btn_back.svg');
            width: 2rem;
            height: 2rem;
        }
    }
}
// 重慶時時彩玩法
.play_area{
    padding: 1rem 1rem;
    line-height: 1.8;
    color: #898989;
    font-size: 1rem;
    >div{
        &:first-child{
            margin-bottom: 1rem;
            background-color: #fff;
            padding: .5rem;
            border: 1px solid $l_gray;
            strong{
                color: $l_blue;
                display: block;
                font-size: 1rem;
                font-weight: 500;
            }
            p{
                font-size: 0.8571rem;
                padding: .5rem 0;
                margin: 0 2rem;
                &:first-child{
                    border-bottom:1px solid $l_gray;
                }
            }
        }
        &:last-child{
            >div{
                margin: 1rem 0;
                background-color: #fff;
                border: 1px solid #ccc;
                dl{
                    margin: 0 2.5rem;
                    padding: .5rem 0;
                    color: #898989;
                    font-size: 0.8571rem;
                    border-bottom:1px solid $l_gray;
                    &:last-child{
                        border-bottom:none;
                    }
                    >*{
                        display: inline-block;
                        &:nth-child(odd){
                            vertical-align: top;
                            min-width: 4rem;
                        }
                        &:nth-child(even){
                            width: calc(100% - 5rem);
                            text-align: justify;
                            // margin-left: 1rem;
                        }
                    }
                    dt{
                        color: $l_blue;
                    }
                }
            }
        }
    }
    h3{
        color: #484848;
        font-size: 1.071rem;
        border-top:1px dashed $l_gray;
        padding: 1rem 0 0 1rem;
        margin-top: 1.5rem;
    }
}
//  展開收合效果
.slide_toggle {
    text-align: left;
    cursor: pointer;
    color: $l_blue;
    > div{
        &:first-child{
            padding: 1rem 0;
        }
        strong{
            font-weight: 500;
        }
        span{
            background-image: url('../images/icon_plus.svg');
            display: inline-block;
            width: 6px;
            height: 9px;
            position: relative;
            background-position: 0px 0;
            background-repeat: no-repeat;
            background-size: 100%;
            left:1.2rem;
            top: 0;
            transition: all .2s;
            margin-right: 2rem;
        }
        &.cur{
            span{
                background-image: url('../images/icon_minus.svg');
            }
        }
    }

}
.panel {
    display: none;
    border-top:1px solid $l_gray;
}