<!DOCTYPE html>
<html lang="en" style="font-size: 14.px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>彩票</title>
    <meta name="keywords" content="">
    <meta nam="description" content="">
    <link rel="stylesheet" href="../css/res.css">
    <link href="../css/m-reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/dialogUI.css">
    <link href="../css/bet_success.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="body">
    <header class="page_header">
        <a href="javascript:;" onclick="history.go(-1)" class="btn_back" title="返回"></a>
        <h2>投注成功</h2>
    </header>
    <div class="success_main">
        <ul class="success_info">
            <li><span class="icon_ticket"></span><span class="tag">彩票名称</span><span class="text lottery-name"> </span></li>
            <li><span class="icon_hourglass"></span><span class="tag">期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span><span class="text lottery-pcode"> </span></li>
            <li><span class="icon_money"></span><span class="tag">投注金额</span><span class="text ui_color_strong lottery-bet"> </span></li>
        </ul>
        <div class="success_btns">
            <a class="btn_normal" href="betting_record.html">查看投注记录</a>
            <a class="btn_default" href="../">继续投注</a>
        </div>
        <dl class="success_recommend">
            <dt>大家都在玩</dt>
            <dd>
                <ul>
                    <li><a href="javascript:;"><div class="img"><img src="../images/lottery/pic_cqssc.png"></div><p>重庆时时彩</p></a></li>
                    <li><a href="javascript:;"><div class="img"><img src="../images/lottery/pic_tjssc.png"></div><p>天津时时彩</p></a></li>
                    <li><a href="javascript:;"><div class="img"><img src="../images/lottery/pic_jxk3.png"></div><p>江苏快3</p></a></li>
                    <li><a href="javascript:;"><div class="img"><img src="../images/lottery/pic_jc11x5.png"></div><p>江西11选5</p></a></li>
                    <li><a href="javascript:;"><div class="img"><img src="../images/lottery/pic_xjssc.png"></div><p>新疆时时彩</p></a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script>

$(function () {
    var param = getStrParam() ;
    console.log(param.name) ;
    $('.lottery-name').text(decodeURI(param.name)) ;
    $('.lottery-pcode').text(param.pcode) ;
    $('.lottery-bet').text(roundAmt(param.money)) ;
})

</script>
</body>
</html>