<!DOCTYPE html>
<html lang="en" style="font-size: 14px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>彩票</title>
    <meta name="keywords" content="">
    <meta nam="description" content="">
    <link rel="stylesheet" href="../css/res.css">
    <link href="../css/m-reset.css" rel="stylesheet" type="text/css">
    <link href="../css/m-warp.css" rel="stylesheet" type="text/css">
    <link href="../css/m-lottery.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/dialogUI.css">
    <script type="text/javascript" async="" src="../js/ga.js"></script>
    <script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
    <!--消息框代码开始-->
    <!-- <script type="text/javascript" src="../js/jquery.dialogUI.js"></script> -->
    <script type="text/javascript" src="../js/jquery.dragdrop.js"></script>
    <!--消息框代码结束-->
    <link href="../css/layer.css" type="text/css" rel="styleSheet" id="layermcss">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/velocity.min.js"></script>
    <script type="text/javascript" src="../js/layer.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <!--时时彩js-->
    <script type="text/javascript" src="../js/ssc_lottery.js"></script>
    <!-- 弹窗css 覆盖layer.css用 -->
    <link href="../css/page.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="body">
        <header class="page_header">
            <a class="btn_back" href="betting_record.html" title="返回"></a>
            <h2>注单详情</h2>
            <!--<a class="right" href="javascript:;">撤单</a>-->
        </header>
        <section class="wraper-page-inner">
            <div class="bet_dt_area">
                <div class="period">
                    <span>
                        <b class="lt_ty">重庆时时彩</b>
                        第
                        <strong class="periods">20170715086</strong>
                        期
                    </span>
                    <span class="bet_status status_red">系统撤单 </span>
                </div>
                <div class="bet_nlist">
                    <ul>
                        <li class="b_lt_1 hover" name="b_lt_1">1</li>
                        <li class="b_lt_1 hover" name="b_lt_1">1</li>
                        <li class="b_lt_1 hover" name="b_lt_1">1</li>
                        <li class="b_lt_1 hover" name="b_lt_1">1</li>
                        <li class="b_lt_1 hover" name="b_lt_1">1</li>
                    </ul>
                </div>
                <div class="print_data">
                    <ul>
                        <li>
                            <span>投注时间</span>
                            <span>2017-07-14   15:21:33</span>
                        </li>
                        <li>
                            <span>方案编号</span>
                            <span>
                                ZCQWE1707146548
                                <small>(追号方案)</small>
                            </span>
                        </li>
                        <li>
                            <span>投注金额</span>
                            <span class="ui_color_yellow">200,002.00</span>
                        </li>
                        <li>
                            <span>我的投注</span>
                            <span>五星直选_复式</span>
                        </li>
                        <li>
                            <span></span>
                            <span class="ui_color_yellow">0,1,8,6,3</span>
                        </li>
                    </ul>
                </div>
                <div class="goto_bet">
                    <a class="lbtn lbtn_info lbtn_md" href="../">前往投注</a>
                </div>
            </div>
        </section>


    </div>

    <script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../js/youxi_lang_zh.js"></script>
    <script type="text/javascript" src="../js/m_jquery.youxi.main.js"></script>
    <script type="text/javascript" src="../js/m_jquery.youxi.selectarea.js"></script>
    <script type="text/javascript" src="../js/m_jquery.youxi.trace.js"></script>
    <script type="text/javascript" src="../js/pushstream.js"></script>

    <script type="text/javascript" src="../js/coreDesign.js"></script>
    <script type="text/javascript" src="../js/res.js"></script>

    <script>

    </script>
    <script type="text/javascript" src="../js/pushservice.js"></script>

</body>

</html>