<!DOCTYPE html>
<html lang="en" style="font-size: 14px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>彩票</title>
    <meta name="keywords" content="">
    <meta nam="description" content="">
    <link rel="stylesheet" href="../css/res.css">
    <link href="../css/m-reset.css" rel="stylesheet" type="text/css">
    <link href="../css/m-warp.css" rel="stylesheet" type="text/css">
    <link href="../css/m-lottery.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/dialogUI.css">
    <link href="../css/trend.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="body">
    <header class="page_header">
        <a href="javascript:;" onclick="history.go(-1)" class="btn_back"></a>
        <h2>重庆时时彩近期开奖</h2>
    </header>
    <div class="trend_main recent_main">
        <ul class="trend_tab_1">
            <li class="active" data-val="30">近30期</li>
            <li data-val="50">近50期</li>
            <li data-val="120">今日数据</li>
        </ul>
        <div class="trend_content">
            <div class="trend_data">
                <table class="trend_table">
                    <thead>
                    <tr>
                        <th>期号</th>
                        <th>开奖号码</th>
                        <th>万位</th>
                        <th>千位</th>
                        <th>十位</th>
                        <th>个位</th>
                        <th>总和</th>
                    </tr>
                    </thead>
                    <tbody class="so-bigDoubleCount">
                    <tr>
                        <td>036期</td>
                        <td><i>0</i><i>4</i><i>6</i><i>5</i><i>7</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>035期</td>
                        <td><i>2</i><i>0</i><i>8</i><i>9</i><i>0</i></td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>034期</td>
                        <td><i>1</i><i>0</i><i>6</i><i>7</i><i>8</i></td>
                        <td>大单</td>
                        <td>大双</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>033期</td>
                        <td><i>6</i><i>8</i><i>7</i><i>7</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>032期</td>
                        <td><i>9</i><i>8</i><i>4</i><i>4</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>031期</td>
                        <td><i>8</i><i>3</i><i>3</i><i>7</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小单</td>
                        <td>小单</td>
                    </tr>
                    <tr>
                        <td>030期</td>
                        <td><i>2</i><i>4</i><i>1</i><i>3</i><i>7</i></td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小单</td>
                        <td>小双</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>029期</td>
                        <td><i>9</i><i>1</i><i>3</i><i>4</i><i>9</i></td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>028期</td>
                        <td><i>0</i><i>4</i><i>6</i><i>5</i><i>7</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>027期</td>
                        <td><i>2</i><i>0</i><i>8</i><i>9</i><i>0</i></td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>026期</td>
                        <td><i>1</i><i>0</i><i>6</i><i>7</i><i>8</i></td>
                        <td>大单</td>
                        <td>大双</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>025期</td>
                        <td><i>6</i><i>8</i><i>7</i><i>7</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>024期</td>
                        <td><i>9</i><i>8</i><i>4</i><i>4</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>023期</td>
                        <td><i>8</i><i>3</i><i>3</i><i>7</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>022期</td>
                        <td><i>2</i><i>4</i><i>1</i><i>3</i><i>7</i></td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>021期</td>
                        <td><i>9</i><i>1</i><i>3</i><i>4</i><i>9</i></td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大双</td>
                    </tr>
                    <tr>
                        <td>020期</td>
                        <td><i>2</i><i>4</i><i>1</i><i>3</i><i>7</i></td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>019期</td>
                        <td><i>9</i><i>1</i><i>3</i><i>4</i><i>9</i></td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大双</td>
                    </tr>
                    <tr>
                        <td>018期</td>
                        <td><i>0</i><i>4</i><i>6</i><i>5</i><i>7</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>017期</td>
                        <td><i>2</i><i>0</i><i>8</i><i>9</i><i>0</i></td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大双</td>
                    </tr>
                    <tr>
                        <td>016期</td>
                        <td><i>1</i><i>0</i><i>6</i><i>7</i><i>8</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>015期</td>
                        <td><i>6</i><i>8</i><i>7</i><i>7</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>014期</td>
                        <td><i>9</i><i>8</i><i>4</i><i>4</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>013期</td>
                        <td><i>8</i><i>3</i><i>3</i><i>7</i><i>9</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                    </tr>
                    <tr>
                        <td>012期</td>
                        <td><i>2</i><i>4</i><i>1</i><i>3</i><i>7</i></td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小单</td>
                        <td>小双</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>011期</td>
                        <td><i>9</i><i>1</i><i>3</i><i>4</i><i>9</i></td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大双</td>
                    </tr>
                    <tr>
                        <td>010期</td>
                        <td><i>2</i><i>4</i><i>1</i><i>3</i><i>7</i></td>
                        <td>小单</td>
                        <td>大单</td>
                        <td>小单</td>
                        <td>小双</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>009期</td>
                        <td><i>9</i><i>1</i><i>3</i><i>4</i><i>9</i></td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>小双</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>008期</td>
                        <td><i>0</i><i>4</i><i>6</i><i>5</i><i>7</i></td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                    </tr>
                    <tr>
                        <td>007期</td>
                        <td><i>2</i><i>0</i><i>8</i><i>9</i><i>0</i></td>
                        <td>大单</td>
                        <td>小双</td>
                        <td>大单</td>
                        <td>大单</td>
                        <td>大双</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" async="" src="../js/ga.js"></script>
<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<!-- <script type="text/javascript" src="../js/res.js"></script>-->
<script src="../js/soye/recent_lottery.js"></script>
</body>
</html>