@charset "utf-8";
@import "variable";
i.icon{
    width: .4rem;
    height: .4rem;
    display: inline-block;
    vertical-align: middle;
}
i.filter{
    @include background-image ('filter.png',0,transparent);
}
i.close{
    display: block;
    @include background-image ('close.svg',0,transparent);
    width: .25rem;
    height: .25rem;
    position: absolute;
    right:.3rem;
    top:.4rem;
}
i.eye{
    display: block;
    @include background-image ('eye_view.svg',0,transparent);
    width: .4rem;
    height: .25rem;
    position: absolute;
    right:.3rem;
    top:.4rem;
    &.active{
        @include background-image ('eye_hide.svg',0,transparent);
    }
}