@charset "utf-8";
@import "variable";
.news{
    margin-top: 1.5rem;
    img{
        width: 100%;
        display: block;
    }
    .hd{
        margin-bottom: -40px;
        padding:0 10px;
        position:relative;
        height: 40px;
        >ul{
            position: absolute;
            bottom: .5rem;
            overflow: hidden;
            left: 50%;
            margin-left: -6%;
            width: 100%;
            height: 40px;
            >li{
                float:left;
                color:#666;
                width: .2rem;
                height: .2rem;
                @include border-radius(100%);
                background-color: #121216;
                border: 2px #434c58 solid;
                margin: 0.05rem;
                &.on{
                    border: 2px #434c58 solid;
                    border-bottom-color:#017ea7;
                    background-color:#06c2ff;
                }
            }
        }
    }
}
.marquee{
    overflow: hidden;
    background-color: rgba(#11161c,0.8);
    height: .7rem;
    >*{
        display: inline-block;
    }
    >.speaker{
        width: .5rem;
    }
}
.content{
    padding-top: .1rem;
    >section{
        h3{
            text-align: left;
            margin-left: .5rem;
            margin-top: .35rem;
            >img{
                width: 2rem;
            }
        }
    }
    ul{
        overflow: hidden;
        max-width: 95%;
        margin: 0 auto;
        text-align: left;
        font-size: 0;
        >li{
            display: inline-block;
            font-size: .35rem;
            text-align: center;
            width: 30%;
            // background-image: url('../../static/images/lo_bg.png');
            // background-size: 100%;
            // margin: .15rem;
            // height: 2.6rem;

        }
    }
    >.hotgame_area{
        ul{
            >li{
                background-image: url('../../static/images/lo_bg.png');
                background-size: 100%;
                margin: .15rem;
                height: 2.6rem;
                >.badge{
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-top: .35rem;
                }
            }
        }
    }
    .cooper_area{
        margin-top: .3rem;
        margin-bottom: 1rem;
    }
    .cooper{
        @include background-image ('cooper_bg.png',0,transparent);
        width: 100%;
        margin: 0 auto;
        height: 4rem;
        padding: .3rem 0;
        >h3{
            margin-top: .1rem;
        }
        >ul{
            text-align: center;
            margin: 0 auto;
            width: 100%;
            >li{
                @include background-image ('cooper_c_bg.png',0,transparent);
                width: 20%;
                height: 2.5rem;
                margin: 0 .5rem;
                line-height: 2.5rem;
                a{
                    @include background-image ('other_link.png',0,transparent);
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 1.5rem;
                    &::after{
                        @include pseudo;
                        left: .25rem;
                        bottom: -.3rem;
                        top:inherit;
                    }
                    &.icon_intro{
                        background-position-y: top;
                        &::after{
                            content: '新手教程';
                        }
                    }
                    &.icon_agent{
                        background-position-y: middle;
                        &::after{
                            content: '代理加盟';
                        }
                    }
                    &.icon_about{
                        background-position-y: bottom;
                        &::after{
                            content: '关于我们';
                        }
                    }
                }

            }
        }
    }
}


//login
.login_area{
    margin: 0 auto;
    margin-top: -2.5rem;
    position: relative;
    z-index: 5;
    width: 90%;
    &.reg{
        margin-top: 0;
    }
}
fieldset{
    display: block;
    margin: .5rem 0 !important;
}
.account,.password,.phone{
    overflow: hidden;
    position: relative;
    background-color: rgba(#12151e,.7);
    padding: .3rem;
    @include border-radius(.2rem);
    border: 2px solid $normalblue;
    >input{
        background-color: transparent;
        width: calc(93% - .5rem);
        color: #fff;
        border:none;
        position: relative;
    }
    &:hover,&:active,&:focus{
        box-shadow: 1px 2px 20px rgba($lightblue, 0.9);
        border: 1px solid $normalblue;
    }
    >*{
        vertical-align: middle;
        float: left;
        line-height: .5rem;
        height: .5rem;
    }
    >legend{
        display: inline-block;
        @include background-image ('account.svg',0,transparent);
        width: .5rem;
        height: .5rem;
        margin-right: .5rem;
        position: relative;
        &:after{
            @include pseudo;
            width: 1px;
            height: .5rem;
            background-color: $normalblue;
            right:-.2rem;
            left: inherit;
        }
    }
}
.password{
    overflow: hidden;
    >legend{
         @include background-image ('lock.svg',0,transparent);
    }
    >img{
        float: right;
        margin-top: -.5rem;
    }
    &.pay_password{
        >legend{
            background-image: none;
            width: 1.3rem;
        }
        >input{
            width: 19%;
            border-right:1px solid $normalblue;
            text-align: center;
            margin: 0 auto;
            &:last-child{
                border-right: none;
            }
        }
    }
}
.phone{
    >legend{
        @include background-image ('phone.svg',0,transparent);
   }

}