@charset "utf-8";
@import "variable";
//login,form
.login_area{
    margin: 0 auto;
    margin-top: -2.5rem;
    position: relative;
    z-index: 11;
    width: 90%;
    &.reg{
        margin-top: .5rem;
    }
}
fieldset{
    display: block;
    margin: .5rem 0 !important;
}
.form_g{
    overflow: hidden;
    position: relative;
    background-color: rgba(#12151e,.7);
    padding: .3rem;
    @include border-radius(.2rem);
    border: 2px solid $normalblue;
    >input{
        background-color: transparent;
        width: calc(93% - .5rem);
        color: #fff;
        border:none;
        position: relative;
    }
    &:hover,&:active,&:focus{
        box-shadow: 1px 2px 20px rgba($lightblue, 0.9);
        border: 1px solid $normalblue;
    }
    >*{
        vertical-align: middle;
        float: left;
        line-height: .5rem;
        height: .5rem;
    }
    >legend{
        display: inline-block;
        width: .5rem;
        height: .5rem;
        margin-right: .5rem;
        position: relative;
        &:after{
            @include pseudo;
            width: 1px;
            height: .5rem;
            background-color: $normalblue;
            right:-.2rem;
            left: inherit;
        }
    }
    &.text{
        >legend{
            background-image: none;
            width: 1.3rem;
        }
        input{
            width: calc(80% - .5rem);
        }

    }
}
.account{
    >legend{
        @include background-image ('account.svg',0,transparent);
   }
}
.password{
    overflow: hidden;
    >legend{
         @include background-image ('lock.svg',0,transparent);
    }
    >img{
        float: right;
        margin-top: -.5rem;
    }
    &.pay_password{
        >legend{
            background-image: none;
            width: 1.3rem;
        }
        >input{
            width: 19%;
            border-right:1px solid $normalblue;
            text-align: center;
            margin: 0 auto;
            &:last-child{
                border-right: none;
            }
        }
    }
}
.phone{
    >legend{
        @include background-image ('phone.svg',0,transparent);
   }
}
//充值
.deposit_area{
    @extend .login_area;
    margin-top: 0;
}
.pay_content{
    line-height: 1;
    .step03{
        color: #fff;
        max-width: 65%;
        margin: 0 auto;
        @include respond-to('sm') {
            max-width: 85%;
        }
        &.pay_way{
            max-width: 100%;
        }
        .bank_account{
            color: #fff;
            padding-left: .4rem;
            .push-left-tiny{
                margin-left: 1em;
            }
        }
        &.scan_qrcoder{
            font-size: 0;
            ul{
                overflow: hidden;
                width: 95%;
                margin: 0 auto;
            }
            .btn_pay{
                @include border-radius(5px);
                border: 1px solid #fff;
                // padding: 15px;
                // text-align: center;
                width: 48%;
                display: inline-block;
                margin: .5rem 0;
                padding: 3% 2% 3% 0%;
                text-align: center;
                font-size: .35rem;
                &:first-child{
                    margin-right: 4%;
                }
                &:nth-child(3){
                    width: 100%;
                }
                &:hover,&:active,&:focus{
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(247, 241, 222, 0.3);
                            box-shadow: 0px 0px 15px 0px rgba(247, 241, 222, 0.3);
                    border: 1px solid #fff;
                    background-image: url('../../static/images/inner_light.png');
                    background-size: 100% 100%;
                }
                a{
                    position: relative;
                    display: block;
                    width: 100%;
                    // padding-left: 15px;
                    color: #fff;
                    >*{
                        display: inline-block;
                        font-size: .35rem;
                        vertical-align: -webkit-baseline-middle;
                        @include respond-to('ss') {
                            font-size: .35rem;
                        }
                    }
                }
                &.wechat_q,&.alipay_q{
                    img{
                        width: 25%;
                        margin: 0 5px;
                    }
                }
                &.alipay{
                    img{
                        max-width: 31.5%;
                        margin: 0 10px;
                    }
    
                }
            }
        }
        &.webbank_pay{
            label{
                padding-left: .5rem;
                margin-bottom: 1rem;
                display: inline-block;
            }
            >ul{
                width: 100%;
                margin: 0 auto;
                font-size:0;
            }
        }
        &.webbank_pay,&.scan_qrcoder{
            margin-top: 2rem;
        }
        .btn_bank{
            @include border-radius(5px);
            border: 1px solid #666;
            // padding: 15px;
            margin: .5rem .2rem;
            // background: url('../../static/images/info_bank.png') no-repeat;
            background-size: 115%;
            width: 48%;
            display: inline-block;
            background-position-x: 0.1em;
            padding: 1em 0;
            font-size: 1rem;
            // max-height: 50px;
            // height: 50px;
            @include respond-to('xs') {
                // max-height: 28px;
                // height: 28px;
                padding: 0;
            }
            &:hover,&:active,&:focus{
                -webkit-box-shadow: 0 0 20px 0px hsla(44, 62%, 92%, 0.50);
                        box-shadow: 0 0 20px 0px hsla(44, 62%, 92%, 0.50);
                border: 1px solid #fff;
                a{
                    color: #fff;
                }
            }
            a{
                display: block;
                line-height: 2em;
                height: 4em;
                padding: .5em 0;
                text-align: center;
                @include respond-to('xs') {
                    line-height: 2em;
                    height: 3em;
                    padding: .5em 0;
                }
                img{
                    width: 1.8rem;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}
.pay_way{
    >ul{
        >li{
            border-top: 1px solid rgba(255, 255, 255, 0.08);
            background: rgba(255, 255, 255, 0.07);
            padding: .6em 0;
            position: relative;
            // i{
            //     width: 1rem;
            //     margin-left: .5rem;
            // }
            &:nth-child(3){
                border-bottom: 1px  solid rgba(255, 255, 255, 0.03);
            }
            a{
                color: #fff;
                display: inline-block;
                width: 100%;
                &:after{
                    content: '';
                    background-image: url('../../static/images/btn_icon_right.png');
                    width: .25rem;
                    height: 1rem;
                    background-size: 100%;
                    position: absolute;
                    right: 3em;
                    top: 2em;
                }
                > div.icon{
                    display: inline-block;
                    margin:0 1em 0 2.2em;
                    float: left;
                }
                span{
                    vertical-align: -webkit-baseline-middle;
                    vertical-align: -moz-middle-with-baseline;
                    line-height: 1.5rem;
                    float: left;
                }
            }
        }
    }

}
.print_data{
    background: rgba(255, 255, 255, 0.08);
    @include border-radius(5px);
    margin: 1em auto;
    padding: 1em 0;
    margin-bottom: 2rem;
    table{
        margin: 0 .9em;
        min-width: 90%;
        tr{
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 15px 10px;
            display: block;
            &:last-child{
                border-bottom:none;
            }
            th{
                text-align: left;
                width: 80px;
                font-weight: normal;
                color: #dddddd;
                li{
                    list-style: none;
                    margin-left: .5em;
                    position: relative;
                    &:before{
                        content: '•';
                        font-size: 14px;
                        display: inline-block;
                        color: #8b8b8b;
                        position: absolute;
                        left: -1.2em;
                        width: 1.5em;
                        // top: 50%;
                        height: 18px;
                        // margin-top: -9px;
                    }
                }
            }
            td{
                text-align: left;
                padding-left: 1em;
                color: #fff;
                word-break: break-all;
                line-height: 2em;
                width: 11rem;
                @include respond-to('sm') {
                    line-height: normal;
                }
                @include respond-to('ss') {
                    width: 7rem;
                }
            }
        }
    }
    .copy_link{
        color: #fff;
        text-align: center;
        display: block;
        border: 1px solid rgba(#fff, 0.5);
        max-width: 50%;
        margin: 0 auto;
        @include border-radius(60px);
        padding: 5px 10px;
        margin-top: 10px;
    }

}