<!DOCTYPE html>
<html lang="en" style="font-size: 14px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>彩票</title>
    <meta name="keywords" content="">
    <meta nam="description" content="">
    <link rel="stylesheet" href="../css/res.css">
    <link href="../css/m-reset.css" rel="stylesheet" type="text/css">
    <link href="../css/m-warp.css" rel="stylesheet" type="text/css">
    <link href="../css/m-lottery.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/dialogUI.css">
    <!--<script type="text/javascript" async="" src="../js/ga.js"></script>-->
    <script type="text/javascript" src="../js/jquery-1.7.min.js"></script>
    <!--消息框代码结束-->

    <script type="text/javascript" src="../js/main.js"></script>
    <!--<script type="text/javascript" src="../js/layer.js"></script>-->
    <script type="text/javascript" src="../js/common.js"></script>
    <link href="../css/layer.css" type="text/css" rel="styleSheet" id="layermcss">
    <!-- 弹窗css 覆盖layer.css用 -->
    <link href="../css/page.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="body">
    <header class="page_header">
        <a class="btn_back" href="javascript:;" onclick="history.go(-1);" title="返回"></a>
        <h2>注单详情</h2>
        <!--撤单下一期再做-->
        <!--<a class="right" id="btn_bet_cancel" href="javascript:;">撤单</a>-->
    </header>
    <section class="wraper-page-inner">
        <div class="bet_dt_area">
            <div class="period">
                    <span>
                        <b class="lt_ty">重庆时时彩</b>
                        第
                        <strong class="periods">20170715086</strong>
                        期
                    </span>
                <span class="bet_status status_gray">等待开奖 </span>
            </div>
            <div class="bet_nlist">
                <ul>
                    <li class="b_lt_1" name="b_lt_1">?</li>
                    <li class="b_lt_1" name="b_lt_1">?</li>
                    <li class="b_lt_1" name="b_lt_1">?</li>
                    <li class="b_lt_1" name="b_lt_1">?</li>
                    <li class="b_lt_1" name="b_lt_1">?</li>
                </ul>
            </div>
            <div class="print_data">
                <ul>
                    <li>
                        <span>投注时间</span>
                        <span class="so-betTime">2017-07-14   15:21:33</span>
                    </li>
                    <li>
                        <span>方案编号</span>
                        <span class="so-orderId">
                                ZCQWE1707146548
                                <small>(追号方案)</small>
                            </span>
                    </li>
                    <li>
                        <span>投注金额</span>
                        <span class="ui_color_yellow so-betAmount">200,002.00</span>
                    </li>
                    <li>
                        <span>我的投注</span>
                        <span class="so-playName">五星直选_复式</span>
                    </li>
                    <li>
                        <span></span>
                        <span class="ui_color_yellow so-betContent">0,1,8,6,3</span>
                    </li>
                </ul>
            </div>
            <div class="goto_bet">
                <a class="lbtn lbtn_info lbtn_md" href="../">前往投注</a>
            </div>
        </div>
    </section>


</div>

<!--<script type="text/javascript" src="../js/jquery-1.7.min.js"></script>-->
<!--<script type="text/javascript" src="../js/youxi_lang_zh.js"></script>-->
<!--<script type="text/javascript" src="../js/m_jquery.youxi.main.js"></script>-->
<!--<script type="text/javascript" src="../js/m_jquery.youxi.selectarea.js"></script>-->
<!--<script type="text/javascript" src="../js/m_jquery.youxi.trace.js"></script>-->
<!--<script type="text/javascript" src="../js/pushstream.js"></script>-->
<!--<script type="text/javascript" src="../js/coreDesign.js"></script>-->
<!--<script type="text/javascript" src="../js/res.js"></script>-->

<!--<script>-->
<!--$(function(){-->
<!--$('#btn_bet_cancel').click(function() {-->
<!--layer.open({-->
<!--title: '温馨提示',-->
<!--className: 'layer_tip',-->
<!--content: '确定要进行撤单吗？<br />撤单手续费需收<span class="ui_color_yellow">1000.00</span>元',-->
<!--btn: ['确定', '取消']-->
<!--});-->
<!--});-->
<!--})-->
<!--</script>-->
<!--<script type="text/javascript" src="../js/pushservice.js"></script>-->
<script>
    var access_token = getCookie('access_token');  // 取token

    var data = getStrParam('data');
    data = JSON.parse(data.data);
    console.log(data);
    $('.periods')
        .html(data.pcode);
    $('.bet_status')
        .html(data.orderStatusName);
    $('.so-betTime')
        .html(formatTime(new Date(data.betTime)));

    console.log(data.betTime);
    console.log(new Date(data.betTime).toDateString());
    $('.so-orderId')
        .html(data.orderId);
    $('.so-betAmount')
        .html(roundAmt(data.betAmount));

    // 金额转换,分转成元
    function roundAmt(v) {
        return isNaN(v) ? '0.00' : (v / 100).toFixed(2);
    }

    $('.so-playName')
        .html(data.playName);
    $('.so-betContent')
        .html(data.betContent);

    //如果已经开奖
    if (data.orderStatusName != '等待开奖') {
        data.winNumber = data.winNumber || '1,2,3,4,5';
        var openNums = data.winNumber.split(',');
        $('.bet_nlist ul li')
            .each(function (i, t) {
                $(t)
                    .html(openNums[i]);
                $(t)
                    .attr('class', 'b_lt_1 hover');
            });
        if (data.orderStatusName == '已派彩') {
            $('.bet_status')
                .attr('class', 'bet_status status_green');
            $('.bet_status')
                .html('已中奖');
            var html = '<li><span>中奖金额</span><span class="ui_color_yellow">' + roundAmt(data.payoff) + '</span></li>'
            $('.print_data li:nth-child(3)').after(html)
        }
        if (data.orderStatusName == '系统撤单') {
            $('.bet_status')
                .attr('class', 'bet_status status_red');
        }
        if (data.orderStatusName == '暂缓派奖') {
            $('.bet_status')
                .attr('class', 'bet_status status_red');
        }
        if (data.orderStatusName == '会员撤单') {
            $('.bet_status')
                .attr('class', 'bet_status status_red');
        }
    }

    //    //开奖数据查询
    //    function openNumsFun(lotteryId, pcount) {
    //        var data = {
    //            lotteryId: lotteryId,
    //            pcount: pcount,
    //        }
    //        $.ajax({
    //            type: 'post',
    //            headers: {
    //                "Authorization": "bearer " + access_token,
    //            },
    //            dataType: 'json',
    //            contentType: "application/json; charset=utf-8",  // json格式传给后端
    //            url: action.forseti + 'api/openNums',
    //            data: JSON.stringify(data),  // json格式
    //            success: function (res) {
    //                if (res.code == 200) {
    //                    return
    //                }
    //            },
    //            error: function (err) {
    //                console.log(err.responseText)
    //            }
    //        });
    //    }

    /**
     * 解析URL参数
     */
    function getStrParam() {
        var url = location.search; //获取url中"?"符后的字串
        var param = {};
        if (url.indexOf('?') != -1) {
            var str = url.substr(1);
            strs = str.split('&');
            for (var i = 0; i < strs.length; i++) {
                param[strs[i].split('=')[0]] = decodeURIComponent(strs[i].split('=')[1]);
            }
        }
        return param;
    }
</script>
</body>

</html>
