@charset "UTF-8";
/* 用法 @include respond-to('尺寸(ex:sm,xs..)')*/
.login_area, .deposit_area {
  margin: 0 auto;
  margin-top: -2.5rem;
  position: relative;
  z-index: 11;
  width: 90%; }
  .login_area.reg, .reg.deposit_area {
    margin-top: .5rem; }

fieldset {
  display: block;
  margin: .5rem 0 !important;
  font-size: .35rem; }

.form_g {
  overflow: hidden;
  position: relative;
  background-color: rgba(18, 21, 30, 0.7);
  padding: .3rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  border-radius: 0.2rem;
  border: 2px solid #256e93;
  font-size: .35rem; }
  .form_g > input {
    background-color: transparent;
    width: calc(93% - .5rem);
    color: #fff;
    border: none;
    position: relative; }
  .form_g:hover, .form_g:active, .form_g:focus {
    -webkit-box-shadow: 1px 2px 20px rgba(0, 183, 255, 0.9);
    box-shadow: 1px 2px 20px rgba(0, 183, 255, 0.9);
    border: 1px solid #256e93; }
  .form_g > * {
    vertical-align: middle;
    float: left;
    line-height: .5rem;
    height: .5rem; }
  .form_g > legend {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin-right: .5rem;
    position: relative;
    text-align: left; }
    .form_g > legend:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 1px;
      height: .5rem;
      background-color: #256e93;
      right: -.2rem;
      left: inherit; }
  .form_g.text > legend {
    background-image: none;
    width: 1.5rem; }
  .form_g.text input, .form_g.text select {
    width: calc(80% - .5rem);
    background-color: transparent;
    color: #fff;
    border: none; }
  .form_g.money input {
    color: #ffbd00; }

.account > legend {
  background-image: url("../../static/images/account.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-color: transparent;
  background-size: 100%; }

.password {
  overflow: hidden; }
  .password > legend {
    background-image: url("../../static/images/lock.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-color: transparent;
    background-size: 100%; }
  .password > img {
    float: right;
    margin-top: -.5rem; }
  .password.pay_password > legend {
    background-image: none;
    width: 1.3rem; }
  .password.pay_password > input {
    width: 19%;
    border-right: 1px solid #256e93;
    text-align: center;
    margin: 0 auto; }
    .password.pay_password > input:last-child {
      border-right: none; }

.phone > legend {
  background-image: url("../../static/images/phone.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-color: transparent;
  background-size: 100%; }

.deposit_area {
  margin-top: 2rem;
  padding-bottom: 2.5rem; }

.pay_content {
  line-height: 1; }
  .pay_content .step03 {
    color: #fff;
    margin: 0 auto;
    background: rgba(17, 22, 28, 0.8);
    border: 1px solid #294262; }
    @media (max-width: 576px) {
      .pay_content .step03 {
        max-width: 85%; } }
    .pay_content .step03.pay_way {
      max-width: 100%; }
    .pay_content .step03 .bank_account {
      color: #fff;
      padding-left: .4rem; }
      .pay_content .step03 .bank_account .push-left-tiny {
        margin-left: 1em; }
    .pay_content .step03 > h5 {
      text-align: left;
      margin-left: .7rem;
      font-size: 0.35rem;
      margin-bottom: .2rem; }
    .pay_content .step03.scan_qrcoder {
      font-size: 0;
      padding: .5rem 0; }
      .pay_content .step03.scan_qrcoder ul {
        overflow: hidden;
        width: 95%;
        margin: 0 auto; }
      .pay_content .step03.scan_qrcoder .btn_pay {
        -webkit-border-radius: 0.1rem;
        -moz-border-radius: 0.1rem;
        -ms-border-radius: 0.1rem;
        border-radius: 0.1rem;
        border: 1px solid #256e93;
        width: 40%;
        display: inline-block;
        margin: .5rem 0 .3rem;
        padding: 3% 2% 3% 0%;
        text-align: center;
        font-size: .35rem; }
        .pay_content .step03.scan_qrcoder .btn_pay:first-child {
          margin-right: 4%; }
        .pay_content .step03.scan_qrcoder .btn_pay:nth-child(3) {
          width: 86%; }
        .pay_content .step03.scan_qrcoder .btn_pay:hover, .pay_content .step03.scan_qrcoder .btn_pay:active, .pay_content .step03.scan_qrcoder .btn_pay:focus {
          -webkit-box-shadow: 0 0 20px 10px rgba(37, 110, 147, 0.5);
          box-shadow: 0 0 20px 10px rgba(37, 110, 147, 0.5);
          border: 1px solid #00B7FF; }
        .pay_content .step03.scan_qrcoder .btn_pay a {
          position: relative;
          display: block;
          width: 100%;
          color: #d7e8f0; }
          .pay_content .step03.scan_qrcoder .btn_pay a > * {
            display: inline-block;
            font-size: .35rem;
            vertical-align: -webkit-baseline-middle; }
            @media (max-width: 359px) {
              .pay_content .step03.scan_qrcoder .btn_pay a > * {
                font-size: .35rem; } }
        .pay_content .step03.scan_qrcoder .btn_pay.wechat_q img, .pay_content .step03.scan_qrcoder .btn_pay.alipay_q img {
          width: 25%;
          margin: 0 5px; }
        .pay_content .step03.scan_qrcoder .btn_pay.alipay {
          margin-top: .1rem; }
          .pay_content .step03.scan_qrcoder .btn_pay.alipay img {
            max-width: 31.5%;
            margin: 0 10px; }
    .pay_content .step03.webbank_pay {
      padding: .5rem 0; }
      .pay_content .step03.webbank_pay label {
        padding-left: .5rem;
        margin-bottom: 1rem;
        display: inline-block; }
      .pay_content .step03.webbank_pay > ul {
        width: 100%;
        margin: 0 auto;
        font-size: 0; }
    .pay_content .step03 .btn_bank {
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      -ms-border-radius: 0.1rem;
      border-radius: 0.1rem;
      border: 1px solid #256e93;
      margin: .2rem;
      background-size: 115%;
      width: 40%;
      display: inline-block;
      background-position-x: 0.1em;
      padding: 1em 0;
      font-size: .35rem; }
      @media (max-width: 480px) {
        .pay_content .step03 .btn_bank {
          padding: 0; } }
      .pay_content .step03 .btn_bank:hover, .pay_content .step03 .btn_bank:active, .pay_content .step03 .btn_bank:focus {
        -webkit-box-shadow: 0 0 20px 10px rgba(37, 110, 147, 0.5);
        box-shadow: 0 0 20px 10px rgba(37, 110, 147, 0.5);
        border: 1px solid #00B7FF; }
        .pay_content .step03 .btn_bank:hover a, .pay_content .step03 .btn_bank:active a, .pay_content .step03 .btn_bank:focus a {
          color: #fff; }
      .pay_content .step03 .btn_bank a {
        display: block;
        line-height: 2em;
        text-align: center; }
        @media (max-width: 480px) {
          .pay_content .step03 .btn_bank a {
            line-height: 2em;
            height: 3em;
            padding: .5em 0; } }
        .pay_content .step03 .btn_bank a img {
          width: .7rem;
          vertical-align: middle;
          display: inline-block; }

.pay_way > ul > li {
  border-top: 1px solid #334364;
  border-bottom: 1px solid #25324c;
  position: relative; }
  .pay_way > ul > li:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03); }
  .pay_way > ul > li > a {
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 1em 0; }
    .pay_way > ul > li > a:after {
      content: '';
      background-image: url("../../static/images/btn_icon_right.png");
      width: .2rem;
      height: 0.37rem;
      background-size: 100%;
      position: absolute;
      right: 3em;
      top: 3em; }
    .pay_way > ul > li > a > div.icon {
      display: inline-block;
      margin: 0 1em 0 2.2em;
      float: left; }
    .pay_way > ul > li > a span {
      vertical-align: -webkit-baseline-middle;
      vertical-align: -moz-middle-with-baseline;
      line-height: 1.5rem;
      float: left;
      font-size: 0.35rem; }

.print_data {
  background: rgba(255, 255, 255, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 1em auto;
  padding: 1em 0; }
  .print_data table {
    margin: 0 .9em;
    min-width: 90%; }
    .print_data table tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 15px 10px;
      display: block; }
      .print_data table tr:last-child {
        border-bottom: none; }
      .print_data table tr th {
        text-align: left;
        width: 1.5rem;
        font-weight: normal;
        color: #dddddd; }
        .print_data table tr th li {
          list-style: none;
          margin-left: .5em;
          position: relative;
          width: 1.5rem;
          font-size: .35rem;
          color: #66c3f2; }
          .print_data table tr th li:before {
            content: '•';
            font-size: .35rem;
            display: inline-block;
            color: #8b8b8b;
            position: absolute;
            left: -1.2em;
            width: 1.5em;
            height: 18px; }
      .print_data table tr td {
        text-align: left;
        padding-left: 1em;
        color: #fff;
        word-break: break-all;
        line-height: 2em;
        width: 11rem;
        font-size: .35rem; }
        @media (max-width: 576px) {
          .print_data table tr td {
            line-height: normal; } }
        @media (max-width: 359px) {
          .print_data table tr td {
            width: 7rem; } }
  .print_data .copy_link {
    color: #fff;
    text-align: center;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 50%;
    margin: 0 auto;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    border-radius: 60px;
    padding: .2rem .5rem;
    margin-top: 10px;
    font-size: .35rem; }

.bank_transfer {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .bank_transfer select:after {
    content: '';
    display: block;
    background: url("../../static/images/select_down.png") no-repeat;
    background-position: -6px 86%;
    background-size: 145%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 7px; }
  .bank_transfer input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0; }

.bank_account {
  font-size: .35rem; }
  .bank_account h5 {
    text-align: left;
    margin-left: .2rem; }

.mini_tip {
  float: right;
  margin-top: -.8rem;
  color: #66c3f2; }
