@charset "UTF-8";
/* 用法 @include respond-to('尺寸(ex:sm,xs..)')*/
.so-con {
  width: 10rem;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  margin: auto; }
  .so-con .so-left {
    float: left;
    width: 8.7rem;
    height: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    left: -100%; }
    .so-con .so-left .so-left-close {
      background-color: #050709;
      border-left: 3px solid #202f45;
      width: 0.79rem;
      height: 100%;
      float: left; }
      .so-con .so-left .so-left-close img {
        display: block;
        width: 0.46rem;
        position: relative;
        top: 48%;
        left: 0.15rem; }
    .so-con .so-left .so-left-con {
      height: 100%;
      width: 7.5rem;
      float: left;
      border-left: solid 0.03rem #293454;
      border-right: solid 0.03rem #293454;
      background-color: rgba(17, 22, 28, 0.9); }
      .so-con .so-left .so-left-con .so-l-c-top {
        width: 100%;
        height: 1.97rem;
        background: url("../../static/images/left/left-top-bg.png");
        background-size: 100%; }
        .so-con .so-left .so-left-con .so-l-c-top > div {
          float: left;
          height: 100%; }
          .so-con .so-left .so-left-con .so-l-c-top > div:first-child {
            width: 1.97rem; }
            .so-con .so-left .so-left-con .so-l-c-top > div:first-child img {
              width: 1.4rem;
              position: relative;
              top: 0.2rem;
              left: 0.1rem; }
          .so-con .so-left .so-left-con .so-l-c-top > div:last-child > p:first-child {
            color: #fff;
            font-size: .34rem;
            line-height: 1.2rem;
            margin-left: 0.4rem; }
          .so-con .so-left .so-left-con .so-l-c-top > div:last-child > div {
            top: -.8rem;
            left: -.6rem; }
      .so-con .so-left .so-left-con .so-l-c-con {
        width: 100%;
        height: 100%;
        overflow-y: auto; }
        .so-con .so-left .so-left-con .so-l-c-con li {
          background: url("../images/left/left-kuang.jpg");
          background-size: 100%;
          width: 3.33rem;
          height: 3.14rem;
          display: block;
          float: left;
          margin: 0.21rem; }
          .so-con .so-left .so-left-con .so-l-c-con li > .badge {
            margin: 0 auto;
            margin-top: .3rem; }
          .so-con .so-left .so-left-con .so-l-c-con li p {
            font-size: 0.34rem;
            color: white;
            line-height: 1.2rem; }
        .so-con .so-left .so-left-con .so-l-c-con ul:after {
          content: "";
          display: block;
          clear: both; }
  .so-con .so-left.active {
    animation: so-left-active 1s;
    -moz-animation: so-left-active 1s;
    -webkit-animation: so-left-active 1s;
    -o-animation: so-left-active 1s;
    left: 0; }
  .so-con .so-left.close {
    animation: so-left-close 1s;
    -moz-animation: so-left-close 1s;
    -webkit-animation: so-left-close 1s;
    -o-animation: so-left-close 1s;
    left: -100%; }

@keyframes so-left-close {
  from {
    left: 0; }
  to {
    left: -100%; } }
@keyframes so-left-active {
  from {
    left: -100%; }
  to {
    left: 0; } }
.so-con .so-in-top {
  background-image: url("../images/top/top-bg.png");
  width: 100%;
  height: 1.48rem; }
  .so-con .so-in-top .so-menu {
    display: block;
    height: 1.48rem;
    width: 1rem;
    position: relative;
    z-index: 2; }
  .so-con .so-in-top ul > li {
    height: 100%;
    min-width: 1rem;
    display: block;
    float: left; }
    .so-con .so-in-top ul > li > .so-top-menu {
      height: 0.47rem;
      position: relative;
      top: 0.5rem;
      left: 0.25rem; }
    .so-con .so-in-top ul > li > .so-top-logo {
      position: relative;
      left: -0.8rem;
      top: 0.1rem;
      height: 1.3rem; }
    .so-con .so-in-top ul > li.so-top-zoushi {
      float: right;
      height: 1.48rem; }
      .so-con .so-in-top ul > li.so-top-zoushi img {
        height: 0.6rem;
        position: relative;
        top: 0.46rem;
        left: -0.1rem; }
.so-con .so-in-main {
  height: 2.78rem;
  background: url("../images/bg.jpg");
  background-size: 100%; }
  .so-con .so-in-main > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
    .so-con .so-in-main > div .so-main-top {
      width: 100%;
      height: 1.99rem;
      background: url(../images/main/main-bg.png) no-repeat 1rem 1.45rem;
      background-size: auto 0.5rem; }
      .so-con .so-in-main > div .so-main-top div {
        float: left; }
      .so-con .so-in-main > div .so-main-top .so-m-t-left {
        height: 100%;
        width: 3.42rem; }
        .so-con .so-in-main > div .so-main-top .so-m-t-left div:first-child {
          height: 1.1rem;
          width: 3.3rem;
          color: #d7e8f0;
          font-size: 0.34rem;
          line-height: 1.4rem;
          text-align: right;
          margin-right: 0.12rem;
          white-space: nowrap; }
        .so-con .so-in-main > div .so-main-top .so-m-t-left div:last-child p {
          display: block;
          background: url(../images/main/ckwq.png);
          background-size: 1.64rem 0.5rem;
          width: 1.64rem;
          height: 0.5rem;
          position: relative;
          left: .3rem;
          top: .2rem;
          color: #d7e8f0;
          line-height: .5rem;
          text-align: center;
          font-size: 0.3rem; }
      .so-con .so-in-main > div .so-main-top .so-m-t-right {
        width: 6.58rem;
        height: 100%; }
        .so-con .so-in-main > div .so-main-top .so-m-t-right div:first-child ul li {
          float: right;
          background: url(../images/main/qiu.png) no-repeat;
          background-size: 1.1rem;
          background-position: 0.15rem;
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          color: #fffbe2;
          font-size: 0.6rem;
          text-align: center;
          line-height: 1.3rem;
          text-indent: 0.1rem; }
        .so-con .so-in-main > div .so-main-top .so-m-t-right div:last-child ul {
          margin-left: 0.4rem; }
          .so-con .so-in-main > div .so-main-top .so-m-t-right div:last-child ul li {
            display: block;
            float: left;
            width: .9rem;
            height: .35rem;
            border: solid .01rem #ffffff;
            background-color: #ffbd00;
            -webkit-border-radius: .19rem;
            -moz-border-radius: .19rem;
            border-radius: .19rem;
            text-align: center;
            margin-top: 0.14rem;
            margin-right: 0.23rem;
            font-size: 0.34rem;
            line-height: 0.35rem; }
    .so-con .so-in-main > div .so-main-down {
      width: 100%;
      height: 0.79rem; }
      .so-con .so-in-main > div .so-main-down ul li {
        display: block;
        float: left;
        width: 3.33rem; }
        .so-con .so-in-main > div .so-main-down ul li > p {
          line-height: 0.79rem;
          font-size: .34rem;
          color: #d7e8f0;
          text-align: right; }
        .so-con .so-in-main > div .so-main-down ul li > i {
          content: "";
          display: block;
          background: url(../../static/images/main/sj.png) no-repeat;
          background-size: 0.4rem;
          width: .4rem;
          height: .4rem;
          float: left;
          margin-top: 0.13rem;
          margin-left: 0.5rem; }
        .so-con .so-in-main > div .so-main-down ul li > span {
          display: block;
          color: #d7e8f0;
          height: .4rem;
          float: left;
          margin-top: 0.15rem;
          margin-left: 0.1rem;
          font-size: 0.32rem; }
        .so-con .so-in-main > div .so-main-down ul li > a {
          display: inline-block;
          background-color: #0b1723;
          width: 1.6rem;
          height: .45rem;
          border-radius: .19rem;
          border: solid .01rem #233044;
          line-height: 0.45rem;
          margin: auto;
          font-size: 0.32rem;
          text-align: center;
          margin-top: 0.08rem;
          color: #ffffff; }
.so-con .so-in-con {
  width: 100%;
  background-color: #19222f; }
  .so-con .so-in-con > div:after {
    content: "";
    display: block;
    clear: both; }
  .so-con .so-in-con .so-con-left {
    width: 2.5rem;
    float: left;
    background-color: #19222f;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: .8rem; }
    .so-con .so-in-con .so-con-left > ul li {
      display: block;
      width: 100%;
      height: 1.25rem;
      border-bottom: solid .02rem #293454;
      color: #ffffff;
      font-size: 0.4rem;
      line-height: 1.3rem;
      text-align: center;
      background-position-y: -1.5rem; }
    .so-con .so-in-con .so-con-left > ul li.active {
      background: url(../images/content/nav-active.png) no-repeat;
      background-size: auto 1.7rem;
      background-position-y: -0.2rem; }
  .so-con .so-in-con .so-con-right {
    width: 7.5rem;
    float: left;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .so-con .so-in-con .so-con-right > div {
      padding-bottom: 2rem; }
    .so-con .so-in-con .so-con-right > div.active {
      display: block; }
    .so-con .so-in-con .so-con-right ul > li {
      display: block;
      height: 4.98rem;
      padding-top: 0.2rem; }
      .so-con .so-in-con .so-con-right ul > li > div:after {
        content: "";
        display: block;
        clear: both; }

.so-top-sum {
  display: block;
  height: .6rem;
  position: relative;
  top: .5rem;
  left: .68rem;
  z-index: 8; }

.so-in-top-sum {
  color: #fdf19b;
  text-align: center;
  z-index: 2;
  display: block;
  margin-top: -0.04rem;
  font-size: .32rem;
  border: solid 0.02rem #2d3755;
  background-color: #0d141c;
  border-left: hidden;
  border-radius: 0.1rem;
  padding-right: 0.1rem;
  position: relative;
  left: 1rem;
  padding: .05rem .1rem .05rem .4rem;
  top: -.03rem; }

#so-item0 ul li > div, #so-item0.jc115 ul li ul li > div {
  width: 7rem;
  height: 5rem;
  background: url("../../static/images/content/kuang.png") no-repeat;
  background-size: 8.4rem 5rem;
  background-position-x: -1.1rem;
  text-align: center;
  margin: auto; }
  #so-item0 ul li > div > h2, #so-item0.jc115 ul li ul li > div > h2 {
    color: #ffffff;
    font-size: .4rem;
    line-height: 1.12rem; }
  #so-item0 ul li > div > div, #so-item0.jc115 ul li ul li > div > div {
    padding: 3%;
    height: 3.1rem; }
    #so-item0 ul li > div > div p, #so-item0.jc115 ul li ul li > div > div p {
      float: left;
      border: solid 0.01rem #277ca5;
      height: 0.85rem;
      width: 3rem;
      margin-bottom: 4%;
      margin-left: 3.5%;
      display: none; }
      #so-item0 ul li > div > div p span, #so-item0.jc115 ul li ul li > div > div p span {
        color: #d7e8f0;
        font-size: .34rem;
        display: block;
        float: left;
        padding-left: .25rem;
        padding-right: .1rem;
        line-height: 0.9rem; }
        #so-item0 ul li > div > div p span:last-child, #so-item0.jc115 ul li ul li > div > div p span:last-child {
          float: right; }
    #so-item0 ul li > div > div p.active, #so-item0.jc115 ul li ul li > div > div p.active {
      background: url("../../static/images/content/changkuang.png") no-repeat;
      background-size: 3.06rem 0.9rem;
      background-position: -0.01rem;
      border: solid 0.01rem rgba(0, 0, 0, 0); }
      #so-item0 ul li > div > div p.active > span:first-child, #so-item0.jc115 ul li ul li > div > div p.active > span:first-child {
        color: #010101; }
      #so-item0 ul li > div > div p.active > span:last-child, #so-item0.jc115 ul li ul li > div > div p.active > span:last-child {
        color: #ab0000; }

#so-item1 ul li > div {
  width: 7rem;
  height: 5rem;
  background: url(../images/content/item1kuang.png) no-repeat;
  background-size: 7.3rem 5rem;
  background-position-x: -0.15rem;
  text-align: center;
  margin: auto; }
  #so-item1 ul li > div > h2 {
    color: #ffbd00;
    font-size: .4rem;
    line-height: 1.12rem;
    text-align: left;
    text-indent: 0.4rem; }
  #so-item1 ul li > div > div {
    padding: 0% 3%;
    height: 3.1rem;
    margin-top: -.1rem; }
    #so-item1 ul li > div > div p {
      float: left;
      height: 1.65rem;
      width: 1.3rem;
      padding-bottom: .2rem; }
      #so-item1 ul li > div > div p span:first-child {
        background: url("../images/content/zhunxing.png") no-repeat;
        background-size: 1.1rem;
        background-position: 0.15rem;
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        color: #fffbe2;
        font-size: 0.6rem;
        text-align: center;
        line-height: 1.3rem;
        text-indent: 0.1rem; }
      #so-item1 ul li > div > div p span {
        color: #fff;
        font-size: 0.3rem;
        display: block;
        padding-right: 0;
        line-height: 0.5rem; }
    #so-item1 ul li > div > div p.active span:first-child {
      background: url("../images/content/qiu.png") no-repeat;
      background-size: 1.1rem;
      background-position: 0.15rem;
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      color: #fffbe2;
      font-size: 0.6rem;
      text-align: center;
      line-height: 1.3rem;
      text-indent: 0.1rem; }

#so-item2 ul li > div {
  width: 7rem;
  height: 4.74rem;
  background: url(../images/content/kuang.png) no-repeat;
  background-size: 8.4rem 4.84rem;
  background-position-x: -1.1rem;
  text-align: center;
  margin: auto; }
  #so-item2 ul li > div > h2 {
    color: #ffffff;
    font-size: .4rem;
    line-height: 1.12rem; }
  #so-item2 ul li > div > div {
    padding: 3%;
    height: 3.1rem; }
    #so-item2 ul li > div > div p.active {
      background: url(../images/content/changkuang.png) no-repeat;
      background-size: 3.06rem 0.9rem;
      background-position: -0.01rem;
      border: solid 0.01rem rgba(0, 0, 0, 0); }
      #so-item2 ul li > div > div p.active > span:first-child {
        color: #010101; }
      #so-item2 ul li > div > div p.active > span:last-child {
        color: #ab0000; }
    #so-item2 ul li > div > div p {
      float: left;
      border: solid 0.01rem #277ca5;
      height: 0.85rem;
      width: 3rem;
      margin-bottom: 4%;
      margin-left: 3.5%; }
      #so-item2 ul li > div > div p > span {
        color: #d7e8f0;
        font-size: .36rem;
        display: block;
        float: left;
        padding-left: .45rem;
        line-height: 0.9rem;
        padding: 0 .25rem; }
        #so-item2 ul li > div > div p > span:first-child {
          float: left; }
        #so-item2 ul li > div > div p > span:last-child {
          float: right; }

#so-item0 ul li.first_ball, #so-item0 ul li.sec_ball {
  height: 3.74rem; }
  #so-item0 ul li.first_ball > div, #so-item0.jc115 ul li ul li.first_ball > div, #so-item0 ul li.sec_ball > div, #so-item0.jc115 ul li ul li.sec_ball > div {
    width: 7rem;
    height: 3.74rem;
    background: url(../../static/images/content/kuang.png) no-repeat;
    background-size: 8.4rem 3.74rem;
    background-position-x: -1.1rem;
    text-align: center;
    margin: auto; }
    #so-item0 ul li.first_ball > div > h2, #so-item0 ul li.sec_ball > div > h2 {
      line-height: 1rem; }

#so-item0 ul li.first_ball .so-con-span-short {
  width: 3rem !important; }
  #so-item0 ul li.first_ball .so-con-span-short > span {
    padding: 0 .25rem; }
    #so-item0 ul li.first_ball .so-con-span-short > span:first-child {
      float: left; }
    #so-item0 ul li.first_ball .so-con-span-short > span:last-child {
      float: right; }
  #so-item0 ul li.first_ball .so-con-span-short.active {
    background: url(../../static/images/content/changkuang.png) no-repeat;
    background-size: 3.06rem 0.9rem;
    background-position: -0.01rem;
    border: solid 0.01rem transparent; }

#so-item0 ul li.sec_ball .so-con-span-short {
  width: 3rem !important; }
  #so-item0 ul li.sec_ball .so-con-span-short > span {
    padding: 0 .25rem; }
    #so-item0 ul li.sec_ball .so-con-span-short > span:first-child {
      float: left; }
    #so-item0 ul li.sec_ball .so-con-span-short > span:last-child {
      float: right; }
  #so-item0 ul li.sec_ball .so-con-span-short.active {
    background: url(../../static/images/content/changkuang.png) no-repeat;
    background-size: 3.06rem 0.9rem;
    background-position: -0.01rem;
    border: solid 0.01rem transparent; }

#so-item0 .so-con-span-short.active {
  background: url(../images/content/duankaung.png) no-repeat;
  background-size: 1.96rem .9rem;
  background-position: -0.01rem; }

#so-item0 .so-con-span-short, #so-item0.jc115 ul li .so-con-span-short {
  width: 1.9rem !important; }
  #so-item0 .so-con-span-short span, #so-item0.jc115 ul li .so-con-span-short span {
    padding-left: .15rem;
    padding-right: .1rem; }

.so-foot {
  height: 2rem;
  width: 10rem;
  position: fixed;
  bottom: 0;
  background-color: #0e1a28; }
  .so-foot > div:first-child {
    height: 0.87rem; }
    .so-foot > div:first-child p {
      color: #ffffff;
      line-height: 0.87rem;
      font-size: .34rem;
      text-align: left;
      text-indent: 0.4rem; }
      .so-foot > div:first-child p span {
        color: #ffbd00;
        font-size: 0.34rem;
        padding: 0 .3rem; }
  .so-foot > div:nth-child(2) {
    height: 100%;
    background: url("../images/foot/foot-bg.png") no-repeat;
    background-size: 100%; }
    .so-foot > div:nth-child(2) input {
      display: block;
      width: 3.88rem;
      height: .65rem;
      background: url(../images/foot/shurukuang.png) no-repeat;
      background-size: 100%;
      border: solid .01rem #0b1723;
      position: relative;
      top: 0.2rem;
      left: 0.2rem;
      color: #ffffff;
      text-indent: 0.2rem;
      font-size: 0.34rem;
      float: left; }
    .so-foot > div:nth-child(2) input::-webkit-input-placeholder {
      color: white; }
    .so-foot > div:nth-child(2) input[type=reset] {
      width: 1.63rem;
      display: block;
      height: 0.68rem;
      float: left;
      line-height: 0.64rem;
      position: relative;
      top: 0.2rem;
      left: 0.4rem;
      text-align: center;
      background: url("../images/foot/chongzhi.png") no-repeat;
      background-size: 100% 0.68rem;
      color: white;
      font-size: 0.34rem;
      padding-right: .15rem; }
  .so-foot > div:last-child {
    width: 5rem;
    position: fixed;
    bottom: 0;
    right: -2rem; }
    .so-foot > div:last-child > div {
      position: relative;
      width: 2.2rem;
      height: 2.8rem;
      background: url(../images/foot/tj-pg.png) no-repeat;
      background-size: 100%;
      background-position-y: 0.3rem; }
      .so-foot > div:last-child > div img {
        width: 1.2rem;
        position: relative;
        top: 0.8rem; }
      .so-foot > div:last-child > div p {
        color: #fff;
        font-size: 0.36rem;
        position: relative;
        top: 2.1rem; }

.so-foot.close > div:first-child {
  background-color: #404040; }
.so-foot.close > div:nth-child(2) {
  background: url("../images/foot/feng.png") no-repeat;
  background-size: 100%; }
  .so-foot.close > div:nth-child(2) input {
    background: #404040;
    border: none; }
  .so-foot.close > div:nth-child(2) a {
    background: url("../images/foot/chongzhihui.png") no-repeat;
    background-size: 100% 0.68rem;
    border: none; }
.so-foot.close > div:last-child {
  width: 5rem;
  position: fixed;
  bottom: 0;
  right: -2rem; }
  .so-foot.close > div:last-child > div {
    background: url(../images/foot/xiazhuhui.png) no-repeat;
    background-size: 84%;
    background-position: 0.17rem 0.5rem; }

.so-fengpan {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 10rem;
  height: 2.4rem;
  position: fixed;
  bottom: 0;
  z-index: 10; }
  .so-fengpan a {
    color: #fff;
    line-height: 2.3rem;
    font-size: 0.4rem; }

.so-right.active {
  display: block; }

.so-right.close {
  display: none; }

.so-right {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  z-index: 11; }
  .so-right > div:first-child {
    height: 1.5rem; }
    .so-right > div:first-child img {
      display: block;
      float: right;
      position: relative;
      top: 0.46rem;
      right: 0.25rem;
      height: 0.6rem; }
  .so-right > div:last-child {
    overflow: hidden;
    position: relative;
    top: -.3rem; }
    .so-right > div:last-child > div {
      display: none;
      width: 3rem;
      float: right;
      position: relative;
      right: 0.16rem; }
      .so-right > div:last-child > div ul {
        width: 3rem;
        background-color: rgba(36, 47, 71, 0.9);
        float: right;
        position: relative;
        right: -0.04rem;
        border-radius: .2rem;
        top: -0.1rem; }
      .so-right > div:last-child > div li {
        display: block;
        width: 100%;
        height: 1.38rem;
        border-bottom: solid 0.03rem #152034;
        padding-left: 1rem; }
        .so-right > div:last-child > div li p {
          display: block;
          float: left;
          color: white;
          font-size: 0.36rem;
          line-height: 0.65rem;
          margin-left: 0.2rem;
          position: relative;
          top: 0.4rem; }
        .so-right > div:last-child > div li > div {
          text-align: right;
          margin-right: 1.3rem;
          font-size: 0.34rem;
          line-height: 1rem;
          position: relative;
          top: 0.4rem; }
      .so-right > div:last-child > div li:last-child {
        height: 2rem;
        border-bottom: hidden; }
    .so-right > div:last-child > div:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0.2rem solid rgba(36, 47, 71, 0.9);
      border-right: 0.2rem solid rgba(36, 47, 71, 0.9);
      border-left: .2rem solid transparent;
      border-bottom: .2rem solid transparent;
      transform: rotate(-45deg);
      position: relative;
      top: 0.1rem;
      float: right;
      right: 0.3rem; }

.so-clear {
  clear: both; }

.so-shade {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0; }

.so-fengpan-pop {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  z-index: 13; }
  .so-fengpan-pop > div {
    background: url("../images/pop/popkuang2.png") no-repeat;
    background-size: 100%;
    width: 8.14rem;
    height: 4.53rem;
    position: relative;
    top: 25%;
    margin: auto;
    text-align: center; }
  .so-fengpan-pop img {
    width: 8.14rem;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
    margin-top: 1rem; }
  .so-fengpan-pop img:nth-child(2) {
    max-width: .8rem;
    margin-top: 0; }
  .so-fengpan-pop p {
    color: #c93030;
    margin-top: 0.2rem;
    font-size: 0.34rem;
    line-height: 1.5em; }

.so-tip-pop {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  z-index: 13; }
  .so-tip-pop > div {
    background: url("../images/pop/popkuang2.png") no-repeat;
    background-size: 100%;
    width: 8.14rem;
    height: 4.53rem;
    position: relative;
    top: 25%;
    margin: auto;
    text-align: center; }
  .so-tip-pop img {
    width: 4rem;
    text-align: center;
    margin: auto;
    margin-top: 1.2rem; }
  .so-tip-pop img:nth-child(2) {
    max-width: .8rem;
    margin-top: 0;
    display: block; }
  .so-tip-pop p {
    color: #c93030;
    margin-top: 0.25rem;
    font-size: 0.34rem; }

.bet_ok_area p {
  color: #ffbd00;
  line-height: 1.5em; }

img.bet_ok {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.so-pop {
  display: none;
  position: fixed;
  z-index: 13;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  background-color: rgba(15, 16, 21, 0.8);
  border: 2px solid #277ca5;
  top: 25%;
  left: 50%;
  margin-left: -40%; }
  .so-pop:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-image: url("../../static/images/m_bot.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-color: transparent;
    background-size: 100%;
    bottom: -.15rem;
    top: initial;
    height: .7rem;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    margin-left: -50%; }
  .so-pop > h2 {
    background-image: url("../../static/images/m_top.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-color: transparent;
    background-size: 100%;
    width: 100%;
    height: .82rem;
    font-size: .4rem;
    text-align: center;
    line-height: .82rem;
    margin-top: -.05rem; }
    .so-pop > h2 > a {
      width: 1.5rem;
      height: .82rem;
      position: absolute;
      right: 0;
      top: 0; }
    .so-pop > h2.noclose {
      background-image: url("../../static/images/m_top_noclose.png");
      background-repeat: no-repeat;
      background-position: 0;
      background-color: transparent;
      background-size: 100%; }
  .so-pop > p {
    color: #8a8a8a; }
  .so-pop > div {
    width: 6.94rem;
    height: 2.96rem;
    border: solid 0.01rem #222c46;
    box-shadow: 0 0 0.3rem #222c46;
    border-radius: 0.2rem;
    background-color: #0e121d;
    text-align: center;
    margin: auto;
    margin-top: 0.2rem; }
    .so-pop > div .boxlist {
      overflow: scroll;
      height: 3.1rem; }
      .so-pop > div .boxlist p {
        display: block;
        background: url("../images/bottom_line.png") no-repeat;
        background-size: 100% auto;
        background-position-y: 0.5rem;
        height: 1rem;
        line-height: 1rem;
        color: #ffbd00;
        font-size: 0.34rem; }
        .so-pop > div .boxlist p:last-child {
          background-position-y: 0.6rem; }
  .so-pop .so-pop-sum {
    color: white;
    font-size: .34rem;
    line-height: 1rem;
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    -webkit-transform: rotate(-360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-360deg); }
    .so-pop .so-pop-sum span {
      color: #ffbd00; }
    .so-pop .so-pop-sum:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background: url("../images/bottom_line.png") no-repeat;
      background-size: 100% auto;
      background-position-y: -0.25rem;
      -ms-transform: rotate(360deg);
      /* IE 9 */
      -webkit-transform: rotate(360deg);
      /* Chrome, Safari, Opera */
      transform: rotate(360deg);
      width: 100%;
      height: 1rem; }
  .so-pop a {
    margin: 0.1rem;
    width: 2.31rem;
    height: .7rem;
    display: inline-block;
    line-height: .7rem;
    margin-bottom: .5rem; }
    .so-pop a.ok {
      background-image: url("../../static/images/btn_ok.png");
      background-repeat: no-repeat;
      background-position: 0;
      background-color: transparent;
      background-size: 100%;
      background-size: 100% 100%; }
    .so-pop a.cancle {
      background-image: url("../../static/images/btn_cancle.png");
      background-repeat: no-repeat;
      background-position: 0;
      background-color: transparent;
      background-size: 100%;
      background-size: 100% 100%; }

.modal.so-pop-wanfa {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 13; }
  .modal.so-pop-wanfa > .m_content {
    top: 5%; }

.purse {
  position: relative;
  left: -0.2rem; }

#so-item0 ul li > div > div p span.font-ss span, #so-item0.jc115 ul li ul li > div > div p span.font-ss span {
  font-size: .26rem; }

.so-index {
  width: 10rem; }

#so-item0.jc115 ul li.first_ball {
  margin-top: 1.5rem; }
#so-item0.jc115 ul li:first-child > div, #so-item0.jc115 ul li.jc115 ul li:first-child > div {
  background-size: 8.4rem 6.5rem;
  height: 6.5rem; }
  #so-item0.jc115 ul li:first-child > div > h2 {
    line-height: 1.5rem; }
  #so-item0.jc115 ul li:first-child > div > div {
    padding: 2% 3%; }
#so-item0.jc115 ul li > div > div, #so-item0.jc115 ul li.jc115 ul li > div > div {
  padding: 3%;
  min-height: 2.1rem; }
  #so-item0.jc115 ul li > div > div p span, #so-item0.jc115 ul li.jc115 ul li > div > div p span {
    font-size: .3rem; }
    #so-item0.jc115 ul li > div > div p span:last-child, #so-item0.jc115 ul li.jc115 ul li > div > div p span:last-child {
      float: right; }

#so-item0.jc115 ul li .so-con-span-short {
  width: 3rem !important; }
  #so-item0.jc115 ul li .so-con-span-short > span, #so-item0.jc115 ul li.jc115 ul li .so-con-span-short > span {
    padding: 0 .25rem; }
    #so-item0.jc115 ul li .so-con-span-short > span:first-child, #so-item0.jc115 ul li.jc115 ul li .so-con-span-short > span:first-child {
      float: left; }
    #so-item0.jc115 ul li .so-con-span-short > span:last-child, #so-item0.jc115 ul li.jc115 ul li .so-con-span-short > span:last-child {
      float: right; }
  #so-item0.jc115 ul li .so-con-span-short.active {
    background: url("../../static/images/content/changkuang.png") no-repeat;
    background-size: 3.06rem 0.9rem;
    background-position: -0.01rem;
    border: solid 0.01rem transparent; }

#so-item1.jc115 ul li {
  height: 6.6rem; }
  #so-item1.jc115 ul li:first-child {
    margin-top: 0; }
  #so-item1.jc115 ul li > div {
    width: 100%;
    height: 6.74rem;
    background: url("../images/content/jc115_ball_bg.png") no-repeat;
    background-size: 110% 6.84rem;
    background-position-x: -0.9rem;
    text-align: center;
    margin: auto; }
    #so-item1.jc115 ul li > div > h2 {
      padding-left: 3%; }
    #so-item1.jc115 ul li > div > div {
      padding-left: 5%; }
      #so-item1.jc115 ul li > div > div p {
        float: left;
        height: 1.65rem;
        width: 1.3rem;
        display: none;
        padding-bottom: .2rem; }
        #so-item1.jc115 ul li > div > div p span:first-child {
          background: url("../images/content/zhunxing.png") no-repeat;
          background-size: 1.1rem;
          background-position: 0.15rem;
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          color: #fffbe2;
          font-size: 0.52rem;
          text-align: center;
          line-height: 1.3rem;
          text-indent: 0.1rem; }
        #so-item1.jc115 ul li > div > div p span {
          color: #fff;
          font-size: 0.3rem;
          display: block;
          padding-right: 0;
          line-height: 0.5rem; }
      #so-item1.jc115 ul li > div > div p.active span:first-child {
        background: url("../images/content/qiu.png") no-repeat;
        background-size: 1.1rem;
        background-position: 0.15rem;
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        color: #fffbe2;
        font-size: 0.52rem;
        text-align: center;
        line-height: 1.3rem;
        text-indent: 0.1rem; }

#so-item2.jc115 ul li {
  height: 6.6rem; }
  #so-item2.jc115 ul li:first-child {
    margin-top: 0; }
  #so-item2.jc115 ul li > div {
    width: 100%;
    height: 6.74rem;
    background: url("../images/content/jc115_ball_bg.png") no-repeat;
    background-size: 110% 6.84rem;
    background-position-x: -0.9rem;
    text-align: center;
    margin: auto; }
    #so-item2.jc115 ul li > div > h2 {
      padding-left: 3%;
      color: #ffbd00;
      font-size: .4rem;
      line-height: 1.12rem;
      text-align: left;
      text-indent: 0.4rem; }
    #so-item2.jc115 ul li > div > div {
      padding: 0 3%;
      padding-left: 5%; }
      #so-item2.jc115 ul li > div > div p {
        float: left;
        height: 1.65rem;
        width: 1.3rem;
        display: none;
        padding-bottom: .2rem;
        border: none;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0; }
        #so-item2.jc115 ul li > div > div p span:first-child {
          background: url("../images/content/zhunxing.png") no-repeat;
          background-size: 1.1rem;
          background-position: 0.15rem;
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          color: #fffbe2;
          font-size: 0.52rem;
          text-align: center;
          line-height: 1.3rem;
          text-indent: 0.1rem; }
        #so-item2.jc115 ul li > div > div p span {
          color: #fff;
          font-size: 0.3rem;
          display: block;
          padding-right: 0;
          line-height: 0.5rem;
          float: none;
          padding: 0; }
      #so-item2.jc115 ul li > div > div p.active {
        background: none;
        border: none; }
        #so-item2.jc115 ul li > div > div p.active span:first-child {
          background: url("../images/content/qiu.png") no-repeat;
          background-size: 1.1rem;
          background-position: 0.15rem;
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          color: #fffbe2;
          font-size: 0.52rem;
          text-align: center;
          line-height: 1.3rem;
          text-indent: 0.1rem; }
        #so-item2.jc115 ul li > div > div p.active span:last-child {
          color: #fffbe2; }

#so-item2.jc115 > .hd {
  height: .9rem;
  width: 95%;
  background-size: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 100px;
  border-left: 1px solid rgba(69, 109, 139, 0.6);
  border-right: 1px solid rgba(69, 109, 139, 0.6);
  border-bottom: 1px solid rgba(69, 109, 139, 0.4);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-top: 0.2rem;
  background-color: rgba(15, 16, 18, 0.6); }
  #so-item2.jc115 > .hd ul {
    white-space: nowrap;
    width: 100% !important;
    overflow: auto;
    /* winphone8和android4+ */
    -webkit-overflow-scrolling: touch;
    /* ios5+ */ }
    #so-item2.jc115 > .hd ul.tab_mid {
      background-color: transparent;
      border-radius: 100px; }
    #so-item2.jc115 > .hd ul > li {
      display: inline-block;
      height: .9rem;
      width: 2rem;
      padding-top: 0; }
      #so-item2.jc115 > .hd ul > li.on {
        background: url("../../static/images/withcode_select_tab.png") no-repeat;
        background-size: 100%;
        width: 2rem;
        background-position-y: 0.03rem;
        margin-left: 0.03rem; }
      #so-item2.jc115 > .hd ul > li > a {
        height: .9rem;
        line-height: 0.9rem; }
#so-item2.jc115 .bd .tab_content {
  padding: 0; }
  #so-item2.jc115 .bd .tab_content li {
    padding-top: 0; }

.back_home {
  position: relative; }
  .back_home a {
    display: inline-block;
    font-size: 0.34rem;
    padding: 0.1rem 0.4rem;
    margin-top: 0.2rem;
    background: url(../images/left/left-kuang.jpg);
    background-size: 100% 100%;
    border-left: 0.03rem solid #424a71;
    border-right: 0.03rem solid #424a71;
    border-radius: 1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6); }
    .back_home a span {
      vertical-align: middle;
      display: inline-block;
      margin-right: 0.2rem;
      height: 0.7rem;
      line-height: 0.7rem; }
      .back_home a span img {
        height: 100%; }

/*# sourceMappingURL=style.css.map */
