@charset "utf-8";
@import "variable";

//  展開收合效果
.slide_toggle {
    text-align: left;
    color: #ACACAC;
    cursor: pointer;
    .panel_title{
        padding: .5rem 0.7143rem;
        span{
            background-image: url('/static/page/images/icon_arrow_down.svg');
            background-size:0.7143rem 0.7143rem;
            // display: inline-block;
            width: 0.7143rem;
            height: 0.7143rem;
            position: relative;
            background-position: 0px 0;
            background-repeat: no-repeat;
            background-size: 100%;
            // left:1.2rem;
            top: .7rem;
            transition: all .2s;
            margin-top: -0.2rem;
            float: right;
        }
    }
    .panel {
        display: none;
        border-top:1px solid $l_gray;
    }
    &.active{
        color: $l_blue;
        .panel_title span{
            background-image: url('../images/icon_arrow_up.svg');
        }
    }
}