@charset "utf-8";
@import "variable";
body{
    background: url('../../../static/images/content/li-bg.jpg');
    background-size: 100%;
    width: 100%;
    min-height: 18rem;
}
#pa_con{
    height: 100%;
}
#pa_head{
    overflow: hidden;
    height: 1.5rem;
    background-color: #0a1625;
    color: #fff;
    font-size: .4rem;
    
    >*{
        display: inline-block;
        float: left;
    }
    >.center{
        text-align: center;
        padding: .5rem 0;
        width: calc(100% - 4rem);
        font-weight: 300;
    }
    >.left{
        float: left;
        width: 2.3rem;
        a{
            display: inline-block;
            img{
                width: 80%;
                margin: 0;
            }
        }
    }
}
//  展開收合效果
.slide_toggle {
    text-align: left;
    color: #ACACAC;
    cursor: pointer;
    .panel_title{
        padding: .5rem 0.7143rem;
        span{
            background-image: url('../../static/page/images/arrow_up.png');
            background-size:0.7143rem 0.7143rem;
            // display: inline-block;
            width: 0.7143rem;
            height: 0.7143rem;
            position: relative;
            background-position: 0px 0;
            background-repeat: no-repeat;
            background-size: 100%;
            // left:1.2rem;
            top: .7rem;
            transition: all .2s;
            margin-top: -0.2rem;
            float: right;
        }
    }
    .panel {
        display: none;
        border-top:1px solid #000;
    }
    &.active{
        color: #ccc;
        .panel_title span{
            // background-image: url('../images/icon_arrow_up.svg');
        }
    }
}
// tab
.tab{
    font-size: 0;
    .item{
        display: inline-block;
        text-align: left;
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        font-size: 1rem;
        &:first-child{
            border-right: 1px solid #F1F1F1;
        }
        a{
            color: #808080;
            display: block;
            padding: 1rem 0.5rem 0.7rem;
            text-align: center;
            @include respond-to(ss){
                padding: 1rem .5rem ;
            }
            >*{
                display: inline-block;
            }
            p{
                text-align: left;
                line-height: 1.429rem;
            }
            small{
                color: #ACACAC;
                display: block;
                font-size: 0.7143rem;
                line-height: 1rem;
                // margin-left: 2.5rem;
            }
            span{
                font-size: 1.071rem;
            }
            // p{ width: calc(100% - 2.5rem);}
        }
        &.active,&:hover,&:focus{
            transform:none;
            a{
                color: #ccc;
                // .i_coin{
                //     background-image: url('../images/icon_coin_b.svg');
                // }
                // .i_trace{
                //     background-image: url('../images/icon_trace_b.svg');
                // }
            }
        }
    }
}
.tab_mid{
    // margin: .8rem 0;
    color: #d7e8f0;
    background-color: rgba(0,0,0,.4);
    >li{
        display: inline-block;
        // padding: .5rem;
        width: 25% !important;
        text-align: center;
        vertical-align: middle;
        // border-bottom: 2px solid #fff;
        >a{
            display: block;
            color: #898989;
            font-size: 0.8571rem;
            height: 1rem;
            line-height: 1rem;
            font-size: .4rem;
        }
        &.on{
            transform:none;
            border-bottom: 2px solid #ccc;
            background-image: url('../../static/page/images/arrow_up.png');
            wi
            a{
                color: #ccc;
            }
        }
    }
}
.tab_content{
    // margin: 0 .8rem;
    padding: 0 0.5rem;
}
.bet_day{
    border: 1px solid #DDE2E6;
    border-bottom: none;
    background-color: #fff;
    &:last-child{
        border-bottom: 1px solid #DDE2E6;
    }
    .date{
        font-size: 1rem;
        // color: #ACACAC;
        // padding:.5rem 1rem;
    }
}
.bet_data{
    border-bottom: 1px solid #DDE2E6;
    &:last-child{
        border-bottom:none;
    }
    > a{
        display: block;
        padding:.786rem;
        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }
    > a > *{
        // display: inline-block;
        float: left;
        // vertical-align: top;
        // height: 4rem;
        line-height: 1.429rem;
        // margin: 0 .5rem;
        color:#898989;
    }
    strong{
        color: #ccc;
        font-size: 1rem;
    }
    .status{
        float: right;
        min-width: 15%;
        text-align: center;
        color: #ACACAC;
        margin-top: 0.3571rem;
    }
    .status00{
    }
    .status01{
    }
    .status02{
        color: #333;
    }
    .status03{
        color: #ACACAC;
        padding-top: 2rem;
        position: relative;
        margin-top: 0;
        &:before{
            content: '';
            display: block;
            // background-image: url('../images/icon_notwin.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            width: 1.429rem;
            height: 1.429rem;
            top:.3rem;
            left: 50%;
            margin-left: -0.7143rem;
        }
    }
    .status04{
        color: #f00;
        padding-top: 2rem;
        position: relative;
        margin-top: 0;
        &:before{
            content: '';
            display: block;
            // background-image: url('../images/icon_exclam.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            width: 1.429rem;
            height: 1.429rem;
            top:.3rem;
            left: 50%;
            margin-left: -0.7143rem;
        }
    }
}
.badge{
    background-color: #ccc;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100px;
    padding: .5rem;
    // margin: .2rem .5rem;
    margin-right: 0.5714rem;
    border: 3px solid #ccc;
    &.ssc_badge{
        background-image: url('/static/images/logo_cqssc.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        // width: 3.5rem;
        // height: 3.5rem;
    }
}
.lottery_t{
    margin-right: 1rem;
    margin-top: 0.3571rem;
}